<div id="js-cookie-box" class="cookie-box cookie-box--hide">
  We use cookies to improve your experience. Please read our <a href="">cookie policy</a> for more infotmation about how we use cookies. 🍪 ! <span id="js-cookie-button" class="cookie-button">Understand</span>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js'></script><script  src="./script.js"></script>

<script>
  const cookieBox = document.getElementById('js-cookie-box');
const cookieButton = document.getElementById('js-cookie-button');

if (!Cookies.get('cookie-box')) {

cookieBox.classList.remove('cookie-box--hide');

cookieButton.onclick = function () {
  Cookies.set('cookie-box', true, { expires: 7 });
  cookieBox.classList.add('cookie-box--hide');
};
}
</script>