<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="https://scontent-lcy1-1.xx.fbcdn.net/v/t39.30808-6/276062963_111075821542717_3691481390296484530_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=acusAwlB-tUAX-t9yHb&_nc_ht=scontent-lcy1-1.xx&oh=00_AT-HqLxoyXHs18H6YqR2_8nUdefN7PPZFb3UY8WZlx1pmw&oe=624FF685">
<!-- MY STYLES-->
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/responsiveimg.css">
<link rel="stylesheet" href="/css/footer.css">
<!--NAVIGATION AWNINGS LEFT MENU-->
<link rel="stylesheet" href="/css/navbarleft.css">
<!--PICTURE SLIDE AWNING PAGE-->
<link rel="stylesheet" href="/css/pictureslideAWNINGS.css">
<!-- DROP DOWNS AWNINGS MENU LEFT-->
<link rel="stylesheet" href="/css/dropdownawning.css">
<!-- link ro interactive shop-->
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/style1.css"> 

<!-- EXTRAS-->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

<!-- FONT CSS MAIN STYLE-->
<link rel="stylesheet" href="/css/fontstyle.css">
<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
<!--FONT CSS RESPONSIVE STYLE-->
<link rel="stylesheet" href="/css/fontresponsive.css">

<!-- RESPONSIVITY-->
<link rel="stylesheet" href="/css/awningres.css">

<!-- FRESH MENU -->
<link rel="stylesheet" href="/css/topmenurespo.css">
<style>
        @import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

a{
color: inherit;
}
/* TITLE HEADING */

</style>
<title>English Awnings Direct - Awnings</title>
<head>
  <%- include('partials/cookies'); -%>
<!--START MENU-->
<header id="header">
  <div class="brand containermenutopfresh"><a class="logo" href="/" rel="home">English Awnings Direct</a><a class="logo1" href="/" rel="home" style="text-decoration:none;">-</a> <span class="tagline">Relax with us</span></div>
  <nav class="nav containermenutopfresh" id="nav">
    <ul class="menu">
      <li class="menu-item"><a href="/">home</a></li>
      <li class="menu-item"><a href="/about">about</a></li>
      <li class="menu-item"><a href="#">Products</a>
        <ul class="sub-menu">
          <li class="biggersub"><a href="/awnings">Awnings</a>
            <ul class="sub-menu">
              <li><a href="/casablanca/" class="alinkmenu">Casablanca</a></li>
              <li><a href="/corsica/" class="alinkmenu">Corsica</a></li>
              <li><a href="/palladio/" class="alinkmenu">Palladio</a></li>
              <li><a href="/Silverplus/" class="alinkmenu">Silver plus</a></li>
              <li><a href="/boxitalia/" class="alinkmenu">Italia</a></li>
              <li><a href="/bora/" class="alinkmenu">Bora</a></li>
            </ul>
          </li>
          <li class="biggersub"><a href="/accessories">Accessories</a>
            <ul class="sub-menu">
              <li><a href="/nemored/" class="alinkmenu">Motor nemo red</a></li>
              <li><a href="/nemoyellow/" class="alinkmenu">Motor nemo yellow</a></li>
              <li><a href="/eolis/" class="alinkmenu">Eolis</a></li>
              <li><a href="/soliris/" class="alinkmenu">Soliris</a></li>
              <li><a href="/shock/" class="alinkmenu">Shock</a></li>
              <li><a href="/somfycontroller/" class="alinkmenu">Somfy controller</a></li>
              <li><a href="/crank/" class="alinkmenu">Crank</a></li>
              <li><a href="/fabric1x1/" class="alinkmenu">Fabrics</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="/color-pallet">Fabric colours</a>
      <li class="menu-item"><a href="">Guide</a>
        <ul class="sub-menu">
          <li><a href="/brackets/">Bracket types</a>
          </li>
          <li><a href="/ultimateguide/">Ultimate guide</a>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="/contact-us">Contact</a>
      </li>
      <li><a href="#" class=""><i class="fa fa-search"></i></a></li>
      <li><a href="https://www.facebook.com/EnglishAwningsDirect/" target="_blank"><i class=" menufont fa fa-facebook head-social-link"></i></a></li>
        <!--Cart icon-->
        <li class=" m-hidden card-right"><i class=" bx bx-shopping-bag cart-icon"></i></li>
      </li>
    </ul>
  </nav>
</header>
      
  <body>
    <form action="/payment/" method="get">
      <div class="cart">
        <h2 class="cart-title">Your cart</h2>
        <!--Content -->
        <div class="cart-content">
        </div>
        <!--Total-->
        <div class="total">
          <div class="total-title">Total</div>
          <input style="display:none" id="price" name="price" class="total-price"/>
        </div>
        <!--But button-->
        <button type="submit" class="btn-buy">Buy now</button>
        <i class='bx bx-x' id="close-cart"></i>
        </div>
      </form>
  </div>




<section class="dropdownawningsmenu">
  <dl class="list maki">
      <dt>Awnings</dt>
        <dd><a href="/casablanca/">Casablanca</a></dd>
        <dd><a href="/corsica/">Corsica</a></dd>
        <dd><a href="/palladio/">Palladio</a></dd>
        <dd><a href="/Silverplus/">Silver plus</a></dd>
        <dd><a href="/boxitalia/">Italia blind</a></dd>
        <dd><a href="/bora/">Bora Screen</a></dd>
  </dl>
</section>
<br>
<br>
<br>
<br>
<div class="titlesawnings">
  <h9>English awnings direct <br> quality we are proud of.</h9>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="paragraphs">
    <p>Looking for a new Innovative Canopy, Sunblind, or Electric Awning for your home or business?</p>
    <p>Well, look no further than English Awnings direct.</p>
    <p>We are proud of the Awnings & Outside covering we can provide to ensure</p>
    <p>protection & sunshade to any outside area</p>
    <p>or provide cover & shade to a part of your home or business in which the sun is just too bright.</p>
    <br>
    <p>With a variety of models & styles available, water-resistant fabrics & motorised sun & wind sensors</p>
    <p>to protect your awning, what's stopping you?</p>
    <p>If you subscribe to our newsletter, you get a 10% discount on your first order with us.</p>
    <p>Oh, did I forget to mention you get a 2-year guarantee,</p>
    <p>we can assure you that your outdoor area will never be the same again.</p>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- PICTURES SLIDESHOW -->
<div class="containerslideimages1">
  <main class="sliders-container">
      <ul class="pagination">
          <li class="pagination__item"><a class="pagination__button"></a></li>
          <li class="pagination__item"><a class="pagination__button"></a></li>
          <li class="pagination__item"><a class="pagination__button"></a></li>
          <li class="pagination__item"><a class="pagination__button"></a></li>
      </ul>
  </main>
  <div class="slideimages1">
  </div>
</div>
<!-- partial -->
<script src='https://rawgit.com/lmgonzalves/momentum-slider/master/dist/momentum-slider.min.js'></script>
<script  src="./script.js"></script>


<!--PICTURE SLIDES OVER-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="paragraphs">
  <p>We have a fantastic range of residential canopies for customers in a UK.</p>
  <p>We cater to all requirements and budgets so whatever kind of patio or garden awning you require.</p>
  <p>We guarantee to have the perfect solution for you!</p>
</div>
<br>
<br>
<!-- MY FOOTER-->
<footer class="myfooter">
  <div class="myrowfooter">
    <div class="columnfooter left1">
      <div class="footerheader">
          <h8>English Awnings Direct</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1">www.EnglishAwningsDirect.com</li>
        <li class="listyle1">United Kingdom, Dorset</li>
        <li class="listyle1">Unit 6 West Howe Industrial Estate</li>
        <li class="listyle1">Elliot road</li>
        <li class="listyle1">BH11 8JX</li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left2">
      <div class="footerheader">
          <h8>Awnings</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1"><a href="/casablanca/">Casablanca cassette</a></li>
        <li class="listyle1"><a href="/corsica/">Corsica cassette</a></li>
        <li class="listyle1"><a href="/palladio/">Palladio cassette</a></li>
        <li class="listyle1"><a href="/silverplus/">Silver plus</a></li>
        <li class="listyle1"><a href="/boxitalia/">Italia sun blind</a></li>
        <li class="listyle1"><a href="/bora/">Bora</a></li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left3">
      <div class="footerheader">
          <h8>Features</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1"><a href="/color-pallet/">Fabric colour pallet</a></li>
        <li class="listyle1"><a href="/about/">Quality</a></li>
        <li class="listyle1"><a href="/about/#demo">Style</a></li>
        <li class="listyle1"><a href="/about/#ease">Ease</a></li>
        <li class="listyle1"><a href="/about/#features">Adjustment</a></li>
        <li class="listyle1"><a href="/about/#howto">About Us</a></li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left4">
      <div class="footerheader">
          <h8>Follow us</h8>
      </div>
          <ul class="liststyle">
            <div class="social-network social-circle">
              <li class="listyle1"><a href="https://www.facebook.com/English-Awnings-Direct-101963445787288" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            </div>
            <br>
            <li class="listyle1"><a href="/cookiepolicy/">Privacy Policy</a></li>
            <li class="listyle1"><a href="/terms&conditions/">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="columnfooter-bottomfooter">
    <div class="col-md-12 copy">
        <p class="text-center-footer">&copy; Copyright 2022 - English Awnings Direct.  All rights reserved.</p>
    </div>
  </div>
</footer>
<!-- FOOTER OVER-->

        
<!--SCRIPT SLIDE IMAGES NUMBERS START-->


              <script>
(function() {

var slidersContainer = document.querySelector('.sliders-container');

// Initializing the numbers slider
var msNumbers = new MomentumSlider({
    el: slidersContainer,
    cssClass: 'ms--numbers',
    range: [1, 4],
    rangeContent: function (i) {
        return '0' + i;
    },
    style: {
        transform: [{scale: [0.4, 1]}],
        opacity: [0, 1]
    },
    interactive: false
});

// Initializing the titles slider
var titles = [

];
var msTitles = new MomentumSlider({

});

// Initializing the links slider
var msLinks = new MomentumSlider({
    el: slidersContainer,
    cssClass: 'ms--links',
    range: [0, 4],
    rangeContent: function () {
        return '<a class="ms-slide__link"></a>';
    },
    vertical: true,
    interactive: false
});

// Get pagination items
var pagination = document.querySelector('.pagination');
var paginationItems = [].slice.call(pagination.children);

// Initializing the images slider
var msImages = new MomentumSlider({
    // Element to append the slider
    el: slidersContainer,
    // CSS class to reference the slider
    cssClass: 'ms--images',
    // Generate the 4 slides required
    range: [0, 3],
    rangeContent: function () {
        return '<div class="ms-slide__image-container"><div class="ms-slide__image"></div></div>';
    },
    // Syncronize the other sliders
    sync: [msNumbers, msTitles, msLinks],
    // Styles to interpolate as we move the slider
    style: {
        '.ms-slide__image': {
            transform: [{scale: [1.5, 1]}]
        }
    },
    // Update pagination if slider change
    change: function(newIndex, oldIndex) {
        if (typeof oldIndex !== 'undefined') {
            paginationItems[oldIndex].classList.remove('pagination__item--active');
        }
        paginationItems[newIndex].classList.add('pagination__item--active');
    }
});

// Select corresponding slider item when a pagination button is clicked
pagination.addEventListener('click', function(e) {
    if (e.target.matches('.pagination__button')) {
        var index = paginationItems.indexOf(e.target.parentNode);
        msImages.select(index);
    }
});

})();
              </script>
              <!--SCRIPT SLIDE IMAGES NUMBERS OVER-->
        <!--FACEBOOK CHAT START-->
        <div id="fb-root"></div>
<!-- Your Chat plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "101963445787288");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v13.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<!--Link to JS CART-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-222500318-1"></script>
<!--BEST SELLERS-->
<script src="/js/bestsells.json"></script>
<!--SCRIPT FOR LETTER SUBSCRIBE -->
<script src="https://kit.fontawesome.com/0e66a92efa.js" crossorigin="anonymous"></script>
<!-- SCRIPT SLIDESHOW INDEX-->
<script src="/js/slideshowindex.js"></script>
<!-- START JS TOP MENU-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="/js/topmenuscript.js"></script>
<!-- OVER JS TOP MENU-->
<script src="/order.js"></script>

<!-- DROP DOWNS AWNINGS MENU LEFT JS-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="/js/dropdownawning.js"></script>
<!-- FRESHMENU-->>
<script  src="/js/topmenurespo.js"></script>
</body>
</html>