<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="https://scontent-lcy1-1.xx.fbcdn.net/v/t39.30808-6/276062963_111075821542717_3691481390296484530_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=acusAwlB-tUAX-t9yHb&_nc_ht=scontent-lcy1-1.xx&oh=00_AT-HqLxoyXHs18H6YqR2_8nUdefN7PPZFb3UY8WZlx1pmw&oe=624FF685">
<!-- MY STYLES-->
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/responsiveimg.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/characteristicsbox.css">
<link rel="stylesheet" href="/css/sizeschart.css">
<!--Properties LIST-->
<link rel="stylesheet" href="/css/tickisbullets.css">
<!--CHOOSE MOTORS BOX-->
<link rel="stylesheet" href="/css/choosemotors.css">
<!-- DROP DOWNS AWNINGS MENU LEFT-->
<link rel="stylesheet" href="/css/dropdownawning.css">


<!-- link ro interactive shop-->
<link rel="stylesheet" href="/css/style.css" />
<!---->
<link rel="stylesheet" href="/css/style1.css"> 
    
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

<!--Usage as font-->
<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />


<!--SLIDE SHOW INDEX-->
<link rel="stylesheet" href="css/slideshowindex.css">

<!-- FONT CSS MAIN STYLE-->
<link rel="stylesheet" href="/css/fontstyle.css">
<!--FONT CSS RESPONSIVE STYLE-->
<link rel="stylesheet" href="/css/fontresponsive.css">
<!--NAVIGATION AWNINGS LEFT MENU-->
<link rel="stylesheet" href="/css/navbarleft.css">

<!-- FRESH MENU -->
<link rel="stylesheet" href="/css/topmenurespo.css">
<style>

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);



*{outline:none !important;box-sizing:border-box !important;}
a{color: rgb(51, 51, 51);}

tr{
  color: white;
}

/* AWNINGS LEFT MENU */

/* PRICE LIST OVER */
    </style>
    <title>English Awnings Direct - Italia</title>
<head>
  <%- include('partials/cookies'); -%>
<!--START MENU-->
<header id="header">
  <div class="brand containermenutopfresh"><a class="logo" href="/" rel="home">English Awnings Direct</a><a class="logo1" href="/" rel="home" style="text-decoration:none;">-</a> <span class="tagline">Relax with us</span></div>
  <nav class="nav containermenutopfresh" id="nav">
    <ul class="menu">
      <li class="menu-item"><a href="/">home</a></li>
      <li class="menu-item"><a href="/about">about</a></li>
      <li class="menu-item"><a href="#">Products</a>
        <ul class="sub-menu">
          <li class="biggersub"><a href="/awnings">Awnings</a>
            <ul class="sub-menu">
              <li><a href="/casablanca/" class="alinkmenu">Casablanca</a></li>
              <li><a href="/corsica/" class="alinkmenu">Corsica</a></li>
              <li><a href="/palladio/" class="alinkmenu">Palladio</a></li>
              <li><a href="/Silverplus/" class="alinkmenu">Silver plus</a></li>
              <li><a href="/boxitalia/" class="alinkmenu">Italia</a></li>
              <li><a href="/bora/" class="alinkmenu">Bora</a></li>
            </ul>
          </li>
          <li class="biggersub"><a href="/accessories">Accessories</a>
            <ul class="sub-menu">
              <li><a href="/nemored/" class="alinkmenu">Motor nemo red</a></li>
              <li><a href="/nemoyellow/" class="alinkmenu">Motor nemo yellow</a></li>
              <li><a href="/eolis/" class="alinkmenu">Eolis</a></li>
              <li><a href="/soliris/" class="alinkmenu">Soliris</a></li>
              <li><a href="/shock/" class="alinkmenu">Shock</a></li>
              <li><a href="/somfycontroller/" class="alinkmenu">Somfy controller</a></li>
              <li><a href="/crank/" class="alinkmenu">Crank</a></li>
              <li><a href="/fabric1x1/" class="alinkmenu">Fabrics</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="/color-pallet">Fabric colours</a>
      <li class="menu-item"><a href="">Guide</a>
        <ul class="sub-menu">
          <li><a href="/brackets/">Bracket types</a>
          </li>
          <li><a href="/ultimateguide/">Ultimate guide</a>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="/contact-us">Contact</a>
      </li>
      <li><a href="#" class=""><i class="fa fa-search"></i></a></li>
      <li><a href="https://www.facebook.com/EnglishAwningsDirect/" target="_blank"><i class=" menufont fa fa-facebook head-social-link"></i></a></li>
        <!--Cart icon-->
        <li class=" m-hidden card-right"><i class=" bx bx-shopping-bag cart-icon"></i></li>
      </li>
    </ul>
  </nav>
</header>
  </head>
      
  <body>
    <form action="/payment/" method="get">
      <div class="cart">
        <h2 class="cart-title">Your cart</h2>
        <!--Content -->
        <div class="cart-content">
        </div>
        <!--Total-->
        <div class="total">
          <div class="total-title">Total</div>
          <input style="display:none" id="price" name="price" class="total-price"/>
        </div>
        <!--But button-->
        <button type="submit" class="btn-buy">Buy now</button>
        <i class='bx bx-x' id="close-cart"></i>
        </div>
      </form>
  </div>

<body>
  <div class="head-social-link">
      <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      </ul>
  </div>
</div>
<section class="dropdownawningsmenu">
  <dl class="list maki">
      <dt>Awnings</dt>
        <dd><a href="/casablanca/">Casablanca</a></dd>
        <dd><a href="/corsica/">Corsica</a></dd>
        <dd><a href="/palladio/">Palladio</a></dd>
        <dd><a href="/Silverplus/">Silver plus</a></dd>
        <dd><a href="/boxitalia/">Italia blind</a></dd>
        <dd><a href="/bora/">Bora Screen</a></dd>
  </dl>

</section>
        <br>
        <br>
        <h7>Italia.</h7>
        <br>
        <h8 class="Info-cassette">Sun blind</h8>

        <br>
        <br>
        <div class="boxitalia";>
        <img src="/img/awnings style/Box Italia.png" class="boxitalia-img-main" alt="">
        </div>
        <br>
        <br>
        <div class="row";>
            <div class="columnpro1" style="background-color:white;">
              <div class="headproperties">
              <h2>Properties</h2>
              </div>
              <p>            <ul>
                <li class="two">
                The structure of the system is made of extruded aluminum, which ensures durability and strength of the awning.
                </li>
                <br>
                <li class="two">
                The use of a Flyer chain in the structure of the arms, combined with the precision of articulated joints, guarantees the awning
                reliable, long-term operation.
                </li>
                <br>
                <li class="two">
                The fabric by building it in the cassette allows you to protect the fabric against weather conditions.
                </li>
                <br>
                <li class="two">
                Awning fabrics are produced on the basis of high-quality materials, covered with an impregnation that constitutes a protective barrier and
                increasing resistance to dirt.
                </li>
                <br>
                <li class="two">
                Increased functionality thanks to the use of automation with wind-shock sensors and radio control.
                </li>

              </ul></p>
            </div>
          </div>
        </div>
        <div class="characteristics">
          <h2>Characteristics</h2>
          <div class="offer_parameters_wrapper cell_flex">
              <figure class="system_img">
                  <figcaption>
                    <p>Draft of the system</p>
                  </figcaption>
                <img src="https://archiselt.com/en/media/system/oferta/s_Italia-Kasetowa.png" class="img-flex">
            </figure>
    
            <div class="parameters_row">
                <div class="cell_flex">
                        <ul> 	<li><strong>Electric drive:</strong>&nbsp;<p>yes</p></li> 	<li><strong>Manual drive:</strong>&nbsp;<p>yes</p></li> 
                                <li><strong>Maximum width:</strong>&nbsp;<p>5 m</p></li> 	<li><strong>Maximum projection:</strong>&nbsp;<p>1.4 m</p></li> 
                                    <li><strong>Cassette:</strong>&nbsp;<p>yes</p></li> 	<li><strong>Optional hood: </strong>&nbsp;<p>no</p></li>
                                         <li><strong>Tilt angle:&nbsp;</strong> <p>-</p> </li> 	<li><strong>Colour:</strong>&nbsp;<p>RAL</p></li> 
                                             <li><strong>Valance:</strong>&nbsp;<p>yes</p></li> </ul>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--Box Italia-->

        <h2>Sizes chart</h2>
<table class="containerpricelist">
  <thead>
      <tr>
          <th>Projection (cm)</th>
          <h2>Width (cm)</h2>
          <th>to 110</th>
          <th>111-170</th>
          <th>171-230</th>
          <th>231-290</th>
          <th>291-350</th>
          <th>351-410</th>
          <th>411-470</th>
          <th>471-500</th>
          
      </tr>
  </thead>
  <tbody>
      
      <tr>
      
          <td>70</td>
          <td>£347</td>
          <td>£401</td>
          <td>£434</td>
          <td>£461</td>
          <td>£507</td>
          <td>£561</td>
          <td>£598</td>
          <td>£654</td>
          
          
      </tr>
      <tr>
          <td>100</td>
          <td>£357</td>
          <td>£414</td>
          <td>£447</td>
          <td>£475</td>
          <td>£523</td>
          <td>£578</td>
          <td>£615</td>
          <td>£674</td>
          
      </tr>
      <tr>
          <td>140</td>
          <td>£422</td>
          <td>£504</td>
          <td>£?</td>
          <td>£599</td>
          <td>£622</td>
          <td>£691</td>
          <td>£729</td>
          <td>£800</td> 
      </tr>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<form action="http://localhost:8080/customizedorder" method="post">
  <div class="projection-width">
  <h2>Write your specific measurements in cm:</h2>
    <p>Please be aware to add extra 10cm by each site for mounting</p>
    <br>
    
      
        Projection: <input type="text" name="projection">
        Width: <input type="text" name="width"><br> 
  
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="wallmountchoice">
    <h2>Please select your mounting bracket:</h2>
    <p>For brackets description click <a href="/brackets">HERE</a></p>
  <br>
  <br>
  <br>
      <div class="rowbrackets">
        <div class="columnbrackets" style="background-color:white;">
      
            <input type="radio" id="spreader" name="wallmount" value="spreader">
            <label for="spreader">Spreader bracket</label><br>
    
            <input type="radio" id="gutter" name="wallmount" value="gutter">
            <label for="gutter">Gutter bracket</label><br>
    
            <input type="radio" id="offset-spreader" name="wallmount" value="offset-spreader">
            <label for="offset-spreader">Offset spreader bracket</label>
          <br>
            <input type="radio" id="wastepipe" name="wallmount" value="wastepipe">
            <label for="wastepipe">Waste pipe bracket</label><br>
    
            <input type="radio" id="centre-spreader" name="wallmount" value="centre-spreader">
            <label for="centre-spreader">Centre spread bracket</label><br>
        </div>
        <div class="columnbrackets" style="background-color:white;">
          
            <input type="radio" id="free-standing-post" name="wallmount" value="free-standing-post">
            <label for="free-standing-post">Free standing post</label><br>
    
            <input type="radio" id="free-standing-frame" name="wallmount" value="free-standing-frame">
            <label for="free-standing-frame">Free standing frame</label><br>
    
            <input type="radio" id="offset-gutter" name="wallmount" value="offset-gutter">
            <label for="offset-gutter">Offset gutter bracket</label><br>
      </div>
    </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <!-- OVER PRICE LIST-->
  <div class="fontcololor">
    <h2>Please select your fabric color:</h2>
    </div>
    <br>
    <br>
    
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
            <dl id="sample" class="dropdown">
                <dt class="dropcolorfabric"><a href="#dropcolor"><span>Please select colour</span></a></dt>
                
                <dd>
                  <ul class="dropcolors">
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0028__silver__melange.jpg" alt="" />Silver melange_0028<span class="value">Silver melange_0028</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0034__tweed__senape.jpg" alt="" />Tweed senape_0034<span class="value">Tweed senape_0034</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0054__melbourne.jpg" alt="" />Melbourne_0054<span class="value">Melbourne_0054</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0180__sunrise.jpg" alt="" />Sunrise_0180<span class="value">Sunrise_0180</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0186__brisbane.jpg" alt="" />Brisbane_0186<span class="value">Brisbane_0186</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"> <img class="flag" src="/images/fabrics colors/0364__silver__white.jpg" alt="" />Silver white_0364<span class="value">Silver white_0364</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0396__jade.jpg" alt="" />Jade_0396<span class="value">Jade_0396</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0402__charcoal__tweed.jpg" alt="" />Charcoal tweed_0402<span class="value">Charcoal tweed_0402</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0403__tweed__brown.jpg" alt="" />Tweed brown_0403<span class="value">Tweed brown_0403 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0452__canberra.jpg" alt="" />Canberra_0452<span class="value">Canberra_0452</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0493__gladstone.jpg" alt="" />Gladstone_0493<span class="value">Gladstone_0493</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0497__broken__hill.jpg" alt="" />Broken hill_0497<span class="value"> Broken hill_0497</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0505__stitch__calcite.jpg" alt="" />Stitch calcite_0505<span class="value"> Stitch calcite_0505</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0507__stitch__ruby.jpg" alt="" />Stitch ruby_0507<span class="value"> Stitch ruby_0507</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0512__stitch__andesite.jpg" alt="" /><span class="value"> </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0597__stone__tweed.jpg" alt="" />Stone tweed_0597<span class="value"> Stone tweed_0597</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0638__ash.jpg" alt="" />Ash_0638<span class="value"> Ash_0638</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0715__platinum.jpg" alt="" />Platinum_0715<span class="value"> Platinum_0715</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0734__winetone.jpg" alt="" />Winetone_0734<span class="value"> Winetone_0734</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0794__tweed__argent.jpg" alt="" />Tweed argent_0794<span class="value"> Tweed argent_0794</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0814__amber__beige.jpg" alt="" />Amber beige_0814<span class="value"> Amber beige_0814</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0923__marble.jpg" alt="" />Marble_0923<span class="value"> Marble_0923</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0937__iron.jpg" alt="" />Iron_0937<span class="value">Iron_0937 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0990__candlelight.jpg" alt="" />Candlelight_0990<span class="value">Candlelight_0990 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0992__timber.jpg" alt="" />Timber_0992<span class="value"> Timber_0992</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/0993__concrete.jpg" alt="" />Concrete_0993<span class="value"> Concrete_0993</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/1524__graphite__zip.jpg" alt="" />Graphite_1524<span class="value"> Graphite_1524</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/1597__zip__grey.jpg" alt="" />Zip grey_1597<span class="value"> Zip grey_1597</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2013__amarillo.jpg" alt="" />Amarillo_2013<span class="value"> Amarillo_2013</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2015__amarillo.jpg" alt="" />Amarillo_2015<span class="value"> Amarillo_2015</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2016__argentina.jpg" alt="" />Argentina_2016<span class="value"> Argentina_2016</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2018__azul.jpg" alt="" />Azul_2018<span class="value">Azul_2018</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2038__beige.jpg" alt="" />Beige_2038<span class="value"> Beige_2038</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2041__berna.jpg" alt="" />Berna_2041<span class="value">Berna_2041 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2042__blanco.jpg" alt="" />Blanco_2042<span class="value"> Blanco_2042</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2047__coco.jpg" alt="" />Coco_2047<span class="value"> Coco_2047</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2050__orange.jpg" alt="" />Orange_2050<span class="value"> Orange_2050</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2061__canada.jpg" alt="" />Canada_2061<span class="value"> Canada_2061</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2080__dakar.jpg" alt="" />Dakar_2080<span class="value"> Dakar_2080</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2085__tweed__negro.jpg" alt="" />Tweed negro_2085<span class="value"> Tweed negro_2085</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2101__granate.jpg" alt="" />Granate_2101<span class="value"> Granate_2101</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2103__gris.jpg" alt="" />Gris_2103<span class="value"> Gris_2103</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2121__marte.jpg" alt="" />Marte_2121<span class="value"> Marte_2121</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2143__marfil.jpg" alt="" />Marfill_2143<span class="value"> Marfill_2143</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2145__marine.jpg" alt="" />Marine_2145<span class="value">Marine_2145 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2148__marron__beige.jpg" alt="" />Marron beige_2148<span class="value"> Marron beige_2148</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2170__negro.jpg" alt="" />Negro_2170<span class="value"> Negro_2170</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2174__new__york.jpg" alt="" />New york_2174<span class="value"> New york_2174</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2179__pluton.jpg" alt="" />Pluton_2179<span class="value">Pluton_2179 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2180__ocre.jpg" alt="" />Ocre_2180<span class="value"> Ocre_2180</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2191__orlando.jpg" alt="" />Orlando_2191<span class="value"> Orlando_2191</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2210__rioja.jpg" alt="" />Rioja_2210<span class="value"> Rioja_2210</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2211__bright__red.jpg" alt="" />Bright red_2211<span class="value"> Bright red_2211</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2226__siroco.jpg" alt="" />Siroco_2226<span class="value"> Siroco_2226</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2238__texas.jpg" alt="" />Texas_2238<span class="value"> Texas_2238</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2245__verde__botella.jpg" alt="" />Verde botella_2245<span class="value"> Verde botella_2245</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2250__vision.jpg" alt="" />Vision_2250<span class="value">Vision_2250 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2275__beige.jpg" alt="" />Beige_2275<span class="value"> Beige_2275</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2296__avena.jpg" alt="" />Avena_2296<span class="value"> Avena_2296</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2316__cafe.jpg" alt="" />Cafe_2316<span class="value">Cafe_2316 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2687__vanilla.jpg" alt="" />Vanilla_2687<span class="value"> Vanilla_2687</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2701__jamaica.jpg" alt="" />Jamaica_2701<span class="value">Jamaica_2701 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2777__breeze.jpg" alt="" />Breeze_2777<span class="value"> Breeze_2777</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2796__antracita.jpg" alt="" />Antracita_2796<span class="value">Antracita_2796</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2802__zinc.jpg" alt="" />Zinc_2802<span class="value"> Zinc_2802</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2821__silver.jpg" alt="" />Silver_2821<span class="value"> Silver_2821</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2823__manchester.jpg" alt="" />Manchester_2823<span class="value"> Manchester_2823</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2831__mineral.jpg" alt="" />Mineral_2831<span class="value">Mineral_2831 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2838__integral.jpg" alt="" />Integral_2838<span class="value"> Integral_2838</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2929__natural.jpg" alt="" />Natural_2929<span class="value"> Natural_2929</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/2979__perla.jpg" alt="" />Perla_2979<span class="value"> Perla_2979</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/3427__bologna.jpg" alt="" />Bologna_3427<span class="value">Bologna_3427 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/3463__snowflake.jpg" alt="" />Snowflake_3463<span class="value">Snowflake_3463 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/3605__palermo.jpg" alt="" />Palermo_3605<span class="value"> Palermo_3605</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="images/fabrics colors/3608__metropolitan.jpg" alt="" />Metropolitan_3608<span class="value"> Metropolitan_3608</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="images/fabrics colors/3672__taranto.jpg" alt="" />Taranto_3672<span class="value"> Taranto_3672</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/3746__ancona.jpg" alt="" />Ancona_3746<span class="value"> Ancona_3746</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/3861__salerno.jpg" alt="" />Salerno_3861<span class="value"> Salerno_3861</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/3864__foggia.jpg" alt="" />Foggia_3864<span class="value"> Foggia_3864</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/3868__milano.jpg" alt="" />Milano_3868<span class="value">Milano_3868 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/3875__padova.jpg" alt="" />Padova_3875<span class="value">Padova_3875 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/3881__andria.jpg" alt="" />Andria_3881<span class="value">Andria_3881 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/3882__ravenna.jpg" alt="" />Ravenna_3882<span class="value">Ravenna_3882 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/3889__firenze.jpg" alt="" />Firenze_3889<span class="value">Firenze_3889 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/4639__sahara__dust.jpg" alt="" />Sahara dust_4639<span class="value"> Sahara dust_4639</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/4640__namib.jpg" alt="" />Namib_4640<span class="value"> Namib_4640</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/4643__cliffs.jpg" alt="" />Cliffs_4643<span class="value">Cliffs_4643 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/4644__fjord.jpg" alt="" />Fjord_4644<span class="value"> Fjord_4644</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/4655__ladakh.jpg" alt="" />Ladakh_4655<span class="value">Ladakh_4655 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/4657__rosopsida.jpg" alt="" />Rosopsida_4657<span class="value">Rosopsida_4657</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/4658__gobi.jpg" alt="" />Gobi_4658<span class="value"> Gobi_4658</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/4662__beach.jpg" alt="" />Beach_4662<span class="value">Beach_4662 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/4665__vulcano.jpg" alt="" />Vulcano_4665<span class="value"> Vulcano_4665</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/5106__alberta.jpg" alt="" />Alberta_5106<span class="value">Alberta_5106 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/6106__sunbury.jpg" alt="" />Sunbury_6106<span class="value"> Sunbury_6106</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/6319__nauges__flame.jpg" alt="" />Nauges flame_6319<span class="value"> Nauges flame_6319</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/6711__edmonton.jpg" alt="" />Edmonton_6711<span class="value"> Edmonton_6711</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/6712__calgary.jpg" alt="" />Calgary_6712<span class="value">Calgary_6712 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/7131__multico__flame.jpg" alt="" />Multico flame_7131<span class="value"> Multico flame_7131</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/7151__tweed__rock.jpg" alt="" />Tweed rock_7151<span class="value"> Tweed rock_7151</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/7324__ebony__tweed.jpg" alt="" />Ebony tweed_7324<span class="value"> Ebony tweed_7324</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/7351__oslo__fire.jpg" alt="" />Oslo fire_7351<span class="value">Oslo fire_7351</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/7926__tweed__latte.jpg" alt="" />Tweed latte_7926<span class="value">Tweed latte_7926</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8203__basalt.jpg" alt="" />Basalt_8203<span class="value">Basalt_8203 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8224__lisbonne__nature.jpg" alt="" />Lisbone nature_8224<span class="value">Lisbone nature_8224 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8265__amarillo--CZeDRD.jpg" alt="" />Amarillo czedrd_8625<span class="value"> Amarillo czedrd_8625</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8265__amarillo.jpg" alt="" />Amarillo_8265<span class="value"> Amarillo_8265</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8268__blanco.jpg" alt="" />Blanco_8268<span class="value"> Blanco_8268</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8271__gris.jpg" alt="" />Gris_8271<span class="value">Gris_8271</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8272__marfil.jpg" alt="" />Marfil_8272<span class="value">Marfil_8272 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8275__negro.jpg" alt="" />Negro_8275<span class="value">Negro_8275 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8442__tandem__blanco.jpg" alt="" />Tandem blanco_8442<span class="value">Tandem blanco_8442 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8445__tandem__piedra.jpg" alt="" />Tandem piedra_8445<span class="value"> Tandem piedra_8445</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8446__tandem__grafito.jpg" alt="" />Tandem grafito_8446<span class="value">Tandem grafito_8446 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8488__antracita.jpg" alt="" />Antracita_8488<span class="value">Antracita_8488 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors//8615__white__linen.jpg" alt="" />White linen_8615<span class="value"> White linen_8615</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8854__marseille__flame.jpg" alt="" />Marseille_8854<span class="value">Marseille_8854 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8904__lin__melange.jpg" alt="" />Lin melange_8904<span class="value"> Lin melange_8904</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8931__sienne__stone.jpg" alt="" />Sienne stone_8931<span class="value"> Sienne stone_8931</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/8935__hardelot__nature.jpg" alt="" />Hardelot nature_8935<span class="value">Hardelot nature_8935</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/9415__pietra__beige.jpg" alt="" />Pietra beige_9415<span class="value"> Pietra beige_9415</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/9878__mossy__tweed.jpg" alt="" />Mossy tweed_9878<span class="value">Mossy tweed_9878 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/d100__sienne__nature.jpg" alt="" />Sienne nature_d100<span class="value">Sienne nature_d100 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/d113__naples__stone.jpg" alt="" />Naples stone_d113<span class="value"> Naples stone_d113</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/d299__wide__chine__green.jpg" alt="" />Wide chine green_d299<span class="value">Wide chine green_d299 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/d300__wide__chine__yellow.jpg" alt="" />Wide chine yellow_d300<span class="value"> Wide chine yellow_d300</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/d301__wide__chine__beige.jpg" alt="" />Wide chine beige_d301<span class="value"> Wide chine beige_d301</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/d304__naples__light__grey.jpg" alt="" />Naples light_d304<span class="value"> Naples light_d304</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/d307__naples__linen.jpg" alt="" />Naples linen_d307<span class="value"> Naples linen_d307</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/d319__pencil__dark__grey.jpg" alt="" />Pencil dark grey_d319<span class="value"> Pencil dark grey_d319</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/d320__pencil__grey.jpg" alt="" />Pencil grey_d320<span class="value"> Pencil grey_d320</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/d323__pencil__yellow.jpg" alt="" />Pencil yellow_d323<span class="value"> Pencil yellow_d323</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/d324__pencil__beige.jpg" alt="" />Pencil beige_d324<span class="value">Pencil beige_d324 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/u104__flanelle.jpg" alt="" />Flanelle_u104<span class="value"> Flanelle_u104</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/u105__curry.jpg" alt="" />Curry_u105<span class="value">Curry_u105</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/u190__silver__grey.jpg" alt="" />Silver grey_u190<span class="value"> Silver grey_u190</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/u235__chaume__pigue.jpg" alt="" />Chaume pigue_u235<span class="value">Chaume pigue_u235</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/u390__switch__rouge.jpg" alt="" />Switch rogue_u390<span class="value"> Switch rogue_u390</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/u393__switch__empire.jpg" alt="" />Switch empire_u393<span class="value">Switch empire_u393 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/u411__carmin__pigue.jpg" alt="" />Carmin pigue_u411<span class="value">Carmin pigue_u411</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/u412__piment__pigue.jpg" alt="" />Piment pigue_u412<span class="value"> Piment pigue_u412</span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/u413__potiron__pigue.jpg" alt="" />Potiron pigue_u413<span class="value">Potiron pigue_u413 </span></a></li>
                      <li class="dropcolor"><a href="#dropcolor"><img class="flag" src="/images/fabrics colors/u417__meleze__pigue.jpg" alt="" />Meleze pigue_u417<span class="value">Meleze pigue_u417 </span></a></li>
                  </ul>  
              </dd>
          </dl>
          <span id="result"></span>
          
          <script>
            $(".dropdown img.flag").addClass("flagvisibility");
     
     $(".dropdown dt a").click(function() {
         $(".dropdown dd ul").toggle();
     });
                 
     $(".dropdown dd ul li a").click(function() {
         var text = $(this).find("span").text();
         $(".dropdown dt a span").text(text);
         $(".dropdown dd ul").hide();
         $("#result")/("Selected value is: " + getSelectedValue("sample"));
     });
                 
     function getSelectedValue(id) {
         return $("#" + id).find("dt a span.value")();
     }
     
     $(document).bind('click', function(e) {
         var $clicked = $(e.target);
         if (! $clicked.parents().hasClass("dropdown"))
             $(".dropdown dd ul").hide();
     });
     
     
     
         $(".dropdown img.flag").toggleClass("flagvisibility");
     
     
     </script>
  <div class="framecolors">
    <h2>Frame color:</h2>
  
        <p>Please select your frame color:</p>
              <input type="radio" id="white" name="framecolor" value="white">
        <label for="white">White</label>
  
        <input type="radio" id="silver" name="framecolor" value="silver">
        <label for="silver">Silver</label>
  
        <input type="radio" id="black" name="framecolor" value="black">
        <label for="black">Black</label>
      
        <input type="radio" id="anyspecific" name="framecolor" value="anyspecific">
        <label for="anyspecific">Cream</label>
      <br>
  </div>
  <br>
  <br>
  <div class="choicesaccessorries">
      <!--HANDING OPTION-->
      <div class="handingoption">
          <h2>Please select your handing:</h2>
          <input type="radio" id="left" class="radioselectawnings" name="handingoption" value="left">
          <label for="left">Left</label>
          <input type="radio" id="right" class="radioselectawnings" name="handingoption" value="right">
          <label for="right">Right</label><br>
      </div>
      <br>
      <br>
      <div class="valanceoption">
        <h2>Choose your valance style:</h2>
          <input type="radio" id="straight" class="radioselectawnings" name="valanceoption" value="straight">
          <label for="straight">Straight</label>
          <input type="radio" id="wave" class="radioselectawnings" name="valanceoption" value="wave">
          <label for="wave">Wave</label><br>
      </div>
      <br>
      <br>
      <br>
          <div>
            <input type="radio" name="status" id="status-1" checked>
            <section class="content">
              <article>
                <br>
                <br>
                <h2>Please choose your motor</h2>
  
                <div class="motorclass">
                  <div class="motors">
                    <div class="panel pricing-table">
                      
                      <div class="pricing-plan">
                        <img src="/img/accessories/crank motor handle.jpg" alt="" class="pricing-img">
                        <h2 class="pricing-header">Crank</h2>
                        <ul class="pricing-features">
                          <li class="pricing-features-item">Basic motor </li>
                          <li class="pricing-features-item">Hand operated</li>
                        </ul>
                        <span class="pricing-price">Free</span>
                        
                          <input type="radio" id="motorchoice" name="motorchoice" value="crank">
        <label for="crank">Choose</label><br>
                          </div>
                      
                          <div class="pricing-plan">
                            <img src="/img/accessories/nemored.jpg" alt="" class="pricing-img">
                            <h2 class="pricing-header">Nemo red motor</h2>
                            <ul class="pricing-features">
                              <li class="pricing-features-item">Built-in radio receiver</li>
                              <li class="pricing-features-item">Electronic limit switches</li>
                              <li class="pricing-features-item">Remote controller icnluded</li>
                            </ul>
                            <span class="pricing-price">£229</span>
        
                            <input type="radio" id="motorchoice" name="motorchoice" value="nemo-red">
            <label for="nemo-red">Choose</label><br>
                          </div>
                            
                          <div class="pricing-plan">
                            <img src="/img/accessories/nemoyellow.jpg" alt="" class="pricing-img">
                            <h2 class="pricing-header">Nemo yellow motor</h2>
                            <ul class="pricing-features">
                              <li class="pricing-features-item">Built-in control unit</li>
                              <li class="pricing-features-item">Electronic limit switches</li>
                              <li class="pricing-features-item">Electronically controlled motor rotation</li>
                              <li class="pricing-features-item">Remote controller included</li>
                            </ul>
                            <span class="pricing-price">£399</span>
                            <input type="radio" id="motorchoice" name="motorchoice" value="nemo-yellow">
            <label for="nemo-yellow">Choose</label>
                        
                      </div>
                    </div>
                  </div>
                </div>
        
              </article>
            </section>
           
            <input type="radio" name="status" id="status-2">
            <section class="content">
              <article>
                <br>
                <br>
                <h2>Please choose your sensor</h2>
  
                <div class="motorclass">
                <div class="motors">
                  <div class="panel pricing-table">
        
                    <div class="pricing-plan">
                        <img src="/img/accessories/Shock.jpeg" alt="" class="pricing-img">
                        <h2 class="pricing-header">Shock</h2>
                        <ul class="pricing-features">
                          <li class="pricing-features-item">Installation on the projection profile of the awning</li>
                          <li class="pricing-features-item">Wind sensor</li>
                          <li class="pricing-features-item">Including simple controller</li>
                          <li class="pricing-features-item">Including battery</li>
                        </ul>
                        <span class="pricing-price">£69</span>
                        <input type="radio" id="sensors" name="sensorchoice" value="shock">
        <label for="shock">Choose</label><br>
                      </div>
                    
                    <div class="pricing-plan">
                      <img src="/img/accessories/Eolis.jpeg" width="168px" alt="" class="pricing-img">
                      <h2 class="pricing-header">Eolis</h2>
                      <ul class="pricing-features">
                        <li class="pricing-features-item">Wind sensor</li>
                        <li class="pricing-features-item">Including Telis 1 controller</li>
                        <li class="pricing-features-item">Including battery</li>
                      </ul>
                      <span class="pricing-price">£132</span>
                      <input type="radio" id="sensors" name="sensorchoice" value="eolis">
                      <label for="eolis">Choose</label><br>
                    </div>
                    
                    <div class="pricing-plan">
                      <img src="/img/accessories/Soliris.jpeg" width="200px" alt="" class="pricing-img">
                      <h2 class="pricing-header">Soliris</h2>
                      <ul class="pricing-features">
                        <li class="pricing-features-item">wind&sun</li>
                        <li class="pricing-features-item">radio controlled</li>
                        <li class="pricing-features-item">Including Telis 4 controller</li>
                        <li class="pricing-features-item">Power Supply: 230V~</li>
                       
                      </ul>
                      <span class="pricing-price">£164</span>
                      <input type="radio" id="sensors" name="sensorchoice" value="soliris">
                      <label for="soliris">Choose</label><br>
                    </div>
                  </div>
                </div>
              </div>
              </article>
            </section>
  
            <nav class="legend">
              <label for="status-1" class="choosemotorsensor">Choose motor</label>
              <label for="status-2" class="choosemotorsensor">Choose sensor</label>
        
            </nav>
          </div>
        </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="warranty">
  <h2>We can extend your warranty for extra 3 years</h2>
  <p>Tick below if You are interested and one of our colleagues will talk you thru it.</p>
  <br>
  <input type="checkbox" name="addwarranty" id="addwarranty" class="addwarrantycheck">
</div>
<br>
<br>
<br>
<div class="understandbox">
  <h2>Final Checks:</h2>
  <br>
  <p><input type="checkbox" required name="terms"> I understand this is a bespoke product and cannot </p>
  <p>be cancelled once themanufacture has commenced</p> 
  <p><input type="checkbox" name="terms"> I can confirm that my choices are 
  suitable for myself and wall mounting.</p>
  <p><input type="checkbox" required name="terms"> I agree to English Awnings direct <a href="">Terms&conditions.</a></h9>
  <br>
  <input type="text" name="firstAddress" id="firstAddress" class="inputchecks" required placeholder="House number">
  <br>
  <input type="text" name="secondAddress" id="secondAddress" class="inputchecks" required placeholder="Street name">
  <br>
  <input type="text" name="postcode" id="postcode" class="inputchecks" required placeholder="Postcode">
  <br>
  <input type="email" name="email" id="email" class="inputchecks" required placeholder="E-mail">
  <br>
  <input type="number" name="number" id="number" class="inputchecks" required placeholder="Mobile number">
  <p><input type="submit" class="inputchecks"></p>
</div> 
  </form>
      <br>
      <br>
      <br>
      <br>
      <h2>Installation manual / Declaration of performance</h2>
      <div class="pdfinstruction">
        <a href="https://archiselt.com/en/media/system/oferta/DT-E-11-10-1-IM-ITALIA-EN-.pdf" target=”_blank” ><i class="fa-solid fa-file-pdf fa-8x"></i></a>
        <a href="https://archiselt.com/en/media/system/oferta/DWU-12-M-2018-ITALIA-BOX-EN.pdf" target=”_blank” ><i class="fa-solid fa-file-pdf fa-8x"></i></a>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
<!-- MY FOOTER-->
<footer class="myfooter">
  <div class="myrowfooter">
    <div class="columnfooter left1">
      <div class="footerheader">
          <h8>English Awnings Direct</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1">www.EnglishAwningsDirect.com</li>
        <li class="listyle1">United Kingdom, Dorset</li>
        <li class="listyle1">Unit 6 West Howe Industrial Estate</li>
        <li class="listyle1">Elliot road</li>
        <li class="listyle1">BH11 8JX</li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left2">
      <div class="footerheader">
          <h8>Awnings</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1"><a href="/casablanca/">Casablanca cassette</a></li>
        <li class="listyle1"><a href="/corsica/">Corsica cassette</a></li>
        <li class="listyle1"><a href="/palladio/">Palladio cassette</a></li>
        <li class="listyle1"><a href="/silverplus/">Silver plus</a></li>
        <li class="listyle1"><a href="/boxitalia/">Italia sun blind</a></li>
        <li class="listyle1"><a href="/bora/">Bora</a></li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left3">
      <div class="footerheader">
          <h8>Features</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1"><a href="/color-pallet/">Fabric colour pallet</a></li>
        <li class="listyle1"><a href="/about/">Quality</a></li>
        <li class="listyle1"><a href="/about/#demo">Style</a></li>
        <li class="listyle1"><a href="/about/#ease">Ease</a></li>
        <li class="listyle1"><a href="/about/#features">Adjustment</a></li>
        <li class="listyle1"><a href="/about/#howto">About Us</a></li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left4">
      <div class="footerheader">
          <h8>Follow us</h8>
      </div>
          <ul class="liststyle">
            <div class="social-network social-circle">
              <li class="listyle1"><a href="https://www.facebook.com/English-Awnings-Direct-101963445787288" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            </div>
            <br>
            <li class="listyle1"><a href="/cookiepolicy/">Privacy Policy</a></li>
            <li class="listyle1"><a href="/terms&conditions/">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="columnfooter-bottomfooter">
    <div class="col-md-12 copy">
        <p class="text-center-footer">&copy; Copyright 2022 - English Awnings Direct.  All rights reserved.</p>
    </div>
  </div>
</footer>
<!-- FOOTER OVER-->
        

                <!--FACEBOOK CHAT START-->
                <div id="fb-root"></div>
                <!-- Your Chat plugin code -->
                <div id="fb-customer-chat" class="fb-customerchat">
                </div>
                
                <script>
                  var chatbox = document.getElementById('fb-customer-chat');
                  chatbox.setAttribute("page_id", "101963445787288");
                  chatbox.setAttribute("attribution", "biz_inbox");
                </script>
                
                <!-- Your SDK code -->
                <script>
                  window.fbAsyncInit = function() {
                    FB.init({
                      xfbml            : true,
                      version          : 'v13.0'
                    });
                  };
                
                  (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                </script>
                <!--FACEBOOK CHAT OVER-->
          <!--Link to JS CART-->
          <script src="/js/main.js"></script>
                  <!--SCRIPT FOR ICONS -->
<script src="https://kit.fontawesome.com/0e66a92efa.js" crossorigin="anonymous"></script>
    <!-- START JS TOP MENU-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script  src="/js/topmenuscript.js"></script>
    <!-- OVER JS TOP MENU-->

    <!-- DROP DOWNS AWNINGS MENU LEFT JS-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="/js/dropdownawning.js"></script>
<!-- FRESHMENU-->>
<script  src="/js/topmenurespo.js"></script>
</body>
</html>