<!DOCTYPE html>
<html lang="en">
  
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content=
            "width=device-width, initial-scale=1,
            shrink-to-fit=no">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity=
"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, 
        then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity=
"sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous">
    </script>
      
    <script src=
"https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity=
"sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous">
    </script>
      
    <script img src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity=
"sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous">
    </script>

</head>
  
<body>
    <!--FABRIC DROPDOWN CHOICE LIST ! TO DO ! Submit button / SORT OUT CENTER/ Lay out the info about choosen colour probably in name ! -->

        <h1>
            Fabric colors
        </h1>
    <div class="dropdown">
                <button class="btn btn-success
                        dropdown-toggle" type="button"
                        id="dropdownMenuButton" 
                        data-toggle="dropdown"
                        aria-haspopup="true" 
                        aria-expanded="false">
                    Choose your color
                   
            
                <ul class="dropdown-menu" 
                aria-labelledby="dropdownMenuButton">
              

                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0028__silver__melange.jpg" alt=""
                    width="400"> Silver melange_0028</li>
                    
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0034__tweed__senape.jpg"
                    width="400"> Tweed senape_0034</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0054__melbourne.jpg"
                    width="400"> Melbourne_0054</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0180__sunrise.jpg"
                    width="400" > Sunrise_0180</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0186__brisbane.jpg"
                    width="400"> Brisbane_0186</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0364__silver__white.jpg" 
                    width="400" > Silver white_0364</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0396__jade.jpg"  
                    width="400" > Jade_0396</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0402__charcoal__tweed.jpg" 
                    width="400" > Charcoal_0402</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0403__tweed__brown.jpg"
                    width="400" > Tweed brown_0403</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0452__canberra.jpg" 
                    width="400" > Canberra_0452</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0493__gladstone.jpg" 
                    width="400" > Gladstone_0493</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0497__broken__hill.jpg" 
                    width="400" > Broken hill_0497</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0505__stitch__calcite.jpg" 
                    width="400" > Stitch calcite_0505</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0507__stitch__ruby.jpg" 
                    width="400" > Stitch ruby_0507</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0512__stitch__andesite.jpg" 
                    width="400" > Stitch andesite_0512</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0597__stone__tweed.jpg" 
                    width="400" > Stone tweed_0597</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0638__ash.jpg" 
                    width="400" > Ash_0638</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0715__platinum.jpg" 
                    width="400" > Platinum_0715</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0734__winetone.jpg"
                    width="400" > Winetone_0734</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0794__tweed__argent.jpg" 
                    width="400"> ETweed argent_0794</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0814__amber__beige.jpg" 
                    width="400"> Amber beige_0814</li>
                    <!--START FROM HERE -->
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0923__marble.jpg" 
                    width="400"> Marble_0923</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0937__iron.jpg" 
                    width="400"> Iron_0937</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0990__candlelight.jpg" 
                    width="400"> Candlelight_0990</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0991__lantern.jpg" 
                    width="400"> Lantern_0991</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0992__timber.jpg" 
                    width="400"> Timber_0992</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/0993__concrete.jpg" 
                    width="400"> Concrete_0993</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/1524__graphite__zip.jpg" 
                    width="400"> Graphite_1524</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/1597__zip__grey.jpg" 
                    width="400"> Zip grey_1597</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2013__amarillo.jpg" 
                    width="400"> Amarillo_2013</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2015__amarillo.jpg" 
                    width="400"> Amarillo stripe_2015</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2016__argentina.jpg" 
                    width="400"> Argentina_2016</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2018__azul.jpg" 
                    width="400"> Azul_2018</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2038__beige.jpg" 
                    width="400"> Beige_2038</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2041__berna.jpg" 
                    width="400"> Berna_2041</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2042__blanco.jpg" 
                    width="400"> Blanco_2042</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2047__coco.jpg" 
                    width="400"> Coco_2047</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2050__orange.jpg" 
                    width="400"> Orange_2050</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2061__canada.jpg" 
                    width="400"> Canada_2061</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2080__dakar.jpg" 
                    width="400"> Dakar_2080</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2085__tweed__negro.jpg" 
                    width="400"> Tweed negro_2085</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2101__granate.jpg" 
                    width="400"> Granate_2101</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2103__gris.jpg" 
                    width="400"> Gris_2103</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2121__marte.jpg" 
                    width="400"> Marte_2121</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2143__marfil.jpg" 
                    width="400"> Marfill_2143</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2145__marine.jpg" 
                    width="400"> Marine_2145</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2148__marron__beige.jpg" 
                    width="400"> Marron beige_2148</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2170__negro.jpg" 
                    width="400"> Negro_2170</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2174__new__york.jpg" 
                    width="400"> New york_2174</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2179__pluton.jpg" 
                    width="400"> Pluton_2179</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2180__ocre.jpg" 
                    width="400"> Ocre_2180</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2191__orlando.jpg" 
                    width="400"> Orlando_2191</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2210__rioja.jpg" 
                    width="400"> Rioja_2210</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2211__bright__red.jpg" 
                    width="400"> Bright red_2211</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2226__siroco.jpg" 
                    width="400"> Siroco_2226</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2238__texas.jpg" 
                    width="400"> Texas_2238</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2245__verde__botella.jpg" 
                    width="400"> Verde botella_2245</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2250__vision.jpg" 
                    width="400"> Vision_2250</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2275__beige.jpg" 
                    width="400"> Beige_2275</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2296__avena.jpg" 
                    width="400"> Avena_2296</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2316__cafe.jpg" 
                    width="400"> Cafe_2316</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2687__vanilla.jpg" 
                    width="400"> Vanilla_2687</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2701__jamaica.jpg" 
                    width="400"> Jamaica_2701</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2777__breeze.jpg" 
                    width="400"> Breeze_2777</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2796__antracita.jpg" 
                    width="400"> Antracita_2796</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2802__zinc.jpg" 
                    width="400"> Zinc_2802</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2821__silver.jpg" 
                    width="400"> Silver_2821</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2823__manchester.jpg" 
                    width="400"> Manchester_2823</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2831__mineral.jpg" 
                    width="400"> Mineral_2831</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2838__integral.jpg" 
                    width="400"> Integral_2838</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2929__natural.jpg" 
                    width="400"> Natural_2929</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/2979__perla.jpg" 
                    width="400"> Perla_2979</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/3427__bologna.jpg" 
                    width="400"> Bologna_3427</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/3463__snowflake.jpg" 
                    width="400"> Snowflake_3463</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/3605__palermo.jpg" 
                    width="400"> Palermo_3605</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/3608__metropolitan.jpg" 
                    width="400"> Metropolitan_3608</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/3672__taranto.jpg" 
                    width="400"> Taranto_3672</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/3746__ancona.jpg" 
                    width="400"> Ancona_3746</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/3861__salerno.jpg" 
                    width="400"> Salerno_3861</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/3864__foggia.jpg" 
                    width="400"> Foggia_3864</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/3868__milano.jpg" 
                    width="400"> Milano_3868</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/3875__padova.jpg" 
                    width="400"> Padova_3875</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/3881__andria.jpg"
                    width="400"> Andria_3881</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/3882__ravenna.jpg" 
                    width="400"> Ravenna_3882</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/3889__firenze.jpg" 
                    width="400"> Firenze_3889</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/4639__sahara__dust.jpg" 
                    width="400"> Sahara dust_4639</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/4640__namib.jpg" 
                    width="400"> Namib_4640</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/4643__cliffs.jpg" 
                    width="400"> Cliffs_4643</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/4644__fjord.jpg" 
                    width="400"> Fjord_4644</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/4655__ladakh.jpg" 
                    width="400"> Ladakh_4655</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/4657__rosopsida.jpg" 
                    width="400"> Rosopsida_4657</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/4658__gobi.jpg" 
                    width="400"> Gobi_4658</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/4662__beach.jpg" 
                    width="400"> Beach_4662</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/4665__vulcano.jpg" 
                    width="400"> Vulcano_4665</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/5106__alberta.jpg" 
                    width="400"> Alberta_5106</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/6106__sunbury.jpg" 
                    width="400"> Sunbury_6106</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/6319__nauges__flame.jpg" 
                    width="400"> Nauges flame_6319</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/6711__edmonton.jpg" 
                    width="400"> Edmonton_6711</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/6712__calgary.jpg" 
                    width="400"> Calgary_6712</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/6727__dark__linen.jpg" 
                    width="400"> Dark linen_6727</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/7131__multico__flame.jpg" 
                    width="400"> Multico flame_7131</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/7151__tweed__rock.jpg" 
                    width="400"> Tweed rock_7151</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/7324__ebony__tweed.jpg" 
                    width="400"> Ebony tweed_7324</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/7351__oslo__fire.jpg" 
                    width="400"> Oslo fire_7351</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/7926__tweed__latte.jpg" 
                    width="400"> Tweed late_7926</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8203__basalt.jpg" 
                    width="400"> Basalt_8203</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8224__lisbonne__nature.jpg" 
                    width="400"> Lisbone nature_8224</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8265__amarillo--CZeDRD.jpg"
                    width="400"> Amarillo czedrd_8625</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8265__amarillo.jpg" 
                    width="400"> Amarillo_8265</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8268__blanco.jpg" 
                    width="400"> Blanco_8268</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8271__gris.jpg" 
                    width="400"> Gris_8271</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8272__marfil.jpg" 
                    width="400"> Marfil_8272</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8275__negro.jpg" 
                    width="400"> Negro_8275</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8442__tandem__blanco.jpg" 
                    width="400"> Tandem blanco_8442</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8445__tandem__piedra.jpg" 
                    width="400"> Tandem piedra_8445</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8446__tandem__grafito.jpg" 
                    width="400"> Tandem grafito_8446</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8488__antracita.jpg" 
                    width="400"> Antracita_8488</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8615__white__linen.jpg" 
                    width="400"> White linen_8615</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8854__marseille__flame.jpg" 
                    width="400"> Marseille flame_8554</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8904__lin__melange.jpg" 
                    width="400"> Lin melange_8904</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8931__sienne__stone.jpg" 
                    width="400"> Sienne stone_8931</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/8935__hardelot__nature.jpg" 
                    width="400"> Hardelot nature_8935</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/9415__pietra__beige.jpg" 
                    width="400"> Pietra beige_9415</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/9878__mossy__tweed.jpg" 
                    width="400"> Mossy tweed_9878</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/d100__sienne__nature.jpg" 
                    width="400"> Sienne nature_d100</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/d113__naples__stone.jpg" 
                    width="400"> Naples stone_d113</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/d299__wide__chine__green.jpg" 
                    width="400"> Wide chine garden_d299</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/d300__wide__chine__yellow.jpg" 
                    width="400"> Wide chine yellow_d300</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/d301__wide__chine__beige.jpg" 
                    width="400"> Wine chine beige_d301</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/d304__naples__light__grey.jpg" 
                    width="400"> Naples light grey_d304</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/d305__naples__heather.jpg" 
                    width="400"> Naples heather_d305</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/d307__naples__linen.jpg" 
                    width="400"> Naples linen_d307</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/d319__pencil__dark__grey.jpg" 
                    width="400"> Pencil dark grey_d319</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/d323__pencil__yellow.jpg" 
                    width="400"> Penil yellow_d323</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/d324__pencil__beige.jpg" 
                    width="400"> Pencil beige_d324</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/u104__flanelle.jpg" 
                    width="400"> Flanella_u104</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/u105__curry.jpg" 
                    width="400"> Curry_u105</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/u190__silver__grey.jpg" 
                    width="400"> Silver grey_u190</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/u235__chaume__pigue.jpg" 
                    width="400"> Chaume pigue_u235</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/u390__switch__rouge.jpg" 
                    width="400"> Switch rogue_u390</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/u393__switch__empire.jpg" 
                    width="400"> Switch empire_u393</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/u411__carmin__pigue.jpg" 
                    width="400"> Carmin pigue_u411</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/u412__piment__pigue.jpg" 
                    width="400"> Pimet pigue_u412</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/u413__potiron__pigue.jpg" 
                    width="400"> Potiron pigue_u413</li>
                <li class="dropdown-item">
                    <img src="/Images/fabrics colors/u417__meleze__pigue.jpg" 
                    width="400"> Meleze pigue_u417</li>
                
            </ul>
        </button>

</form>
        </div>

</body>
  
</html>