<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="https://scontent-lcy1-1.xx.fbcdn.net/v/t39.30808-6/276062963_111075821542717_3691481390296484530_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=acusAwlB-tUAX-t9yHb&_nc_ht=scontent-lcy1-1.xx&oh=00_AT-HqLxoyXHs18H6YqR2_8nUdefN7PPZFb3UY8WZlx1pmw&oe=624FF685">
<!-- MY STYLES-->
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/responsiveimg.css">
<link rel="stylesheet" href="/css/footer.css">
<!-- link ro interactive shop-->
<link rel="stylesheet" href="/css/style.css" />
<!---->
<link rel="stylesheet" href="/css/style1.css"> 
    
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

<!--Usage as font-->
<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />


<!--SLIDE SHOW INDEX-->
<link rel="stylesheet" href="css/slideshowindex.css">

<!-- FONT CSS MAIN STYLE-->
<link rel="stylesheet" href="/css/fontstyle.css">
<!--FONT CSS RESPONSIVE STYLE-->
<link rel="stylesheet" href="/css/fontresponsive.css">

<!-- FRESH MENU -->
<link rel="stylesheet" href="/css/topmenurespo.css">
<style>
        @import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

        
/* SPECIAL IMAGES / TITLES / PRICES / CARTS */
.product-title{
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
}
.add-cart{
    padding: 8px;
}
/* SAMPLES IMAGE SIZES */
.shop-content{
    width: 100%;
    padding: 10%;
    margin-top: 4vw;
    z-index: 1;
    width: 80vw;
    margin-left: 10vw;
}

/* The Transformation */
.product-img {
 transform-origin: 50% 50%; 
 transition: transform 1s, filter .5s ease-out;
 z-index: 10000;
 width: 100%;
height: auto;
width: auto;
  border-radius: 5vw;
  z-index: 10000;
  padding: 15px;
}
.product-img:hover{
transform: scale(2.2);
opacity: 5;
z-index: 10000;
}

</style>

<title>English Awnings Direct - Fabric colours</title>

<head>

    <%- include('partials/cookies'); -%>
<!--START MENU-->
<header id="header">
    <div class="brand containermenutopfresh"><a class="logo" href="/" rel="home">English Awnings Direct</a><a class="logo1" href="/" rel="home" style="text-decoration:none;">-</a> <span class="tagline">Relax with us</span></div>
    <nav class="nav containermenutopfresh" id="nav">
      <ul class="menu">
        <li class="menu-item"><a href="/">home</a></li>
        <li class="menu-item"><a href="/about">about</a></li>
        <li class="menu-item"><a href="#">Products</a>
            <ul class="sub-menu">
            <li class="biggersub"><a href="/awnings">Awnings</a>
              <ul class="sub-menu">
                <li><a href="/casablanca/" class="alinkmenu">Casablanca</a></li>
                <li><a href="/corsica/" class="alinkmenu">Corsica</a></li>
                <li><a href="/palladio/" class="alinkmenu">Palladio</a></li>
                <li><a href="/Silverplus/" class="alinkmenu">Silver plus</a></li>
                <li><a href="/boxitalia/" class="alinkmenu">Italia</a></li>
                <li><a href="/bora/" class="alinkmenu">Bora</a></li>
              </ul>
            </li>
            <li class="biggersub"><a href="/accessories">Accessories</a>
              <ul class="sub-menu">
                <li><a href="/nemored/" class="alinkmenu">Motor nemo red</a></li>
                <li><a href="/nemoyellow/" class="alinkmenu">Motor nemo yellow</a></li>
                <li><a href="/eolis/" class="alinkmenu">Eolis</a></li>
                <li><a href="/soliris/" class="alinkmenu">Soliris</a></li>
                <li><a href="/shock/" class="alinkmenu">Shock</a></li>
                <li><a href="/somfycontroller/" class="alinkmenu">Somfy controller</a></li>
                <li><a href="/crank/" class="alinkmenu">Crank</a></li>
                <li><a href="/fabric1x1/" class="alinkmenu">Fabrics</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item"><a href="/color-pallet">Fabric colours</a>
        <li class="menu-item"><a href="">Guide</a>
          <ul class="sub-menu">
            <li><a href="/brackets/">Bracket types</a>
            </li>
            <li><a href="/ultimateguide/">Ultimate guide</a>
            </li>
          </ul>
        </li>
        <li class="menu-item"><a href="/contact-us">Contact</a>
        </li>
        <li><a href="#" class=""><i class="fa fa-search"></i></a></li>
        <li><a href="https://www.facebook.com/EnglishAwningsDirect/" target="_blank"><i class=" menufont fa fa-facebook head-social-link"></i></a></li>
          <!--Cart icon-->
          <li class=" m-hidden card-right"><i class=" bx bx-shopping-bag cart-icon"></i></li>
        </li>
      </ul>
    </nav>
  </header>
    </head>
        
    <body>
      <form action="/payment/" method="get">
        <div class="cart">
          <h2 class="cart-title">Your cart</h2>
          <!--Content -->
          <div class="cart-content">
          </div>
          <!--Total-->
          <div class="total">
            <div class="total-title">Total</div>
            <input style="display:none" id="price" name="price" class="total-price"/>
          </div>
          <!--But button-->
          <button type="submit" class="btn-buy">Buy now</button>
          <i class='bx bx-x' id="close-cart"></i>
          </div>
        </form>
    </div>
    <%- include('partials/cookies'); -%>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="colourpallethaeding">
    <h4>Our range of fabric colours</h4>
    <br>
    <br>
    <br>
    <p>Please Enter Your Number and e-mail to get sample</p>
</div>
<br>
<!--START OF SAMPLES-->
    <section class="shop containersamples">
        <div class="usernum" style="display: flex; flex-direction: column; align-items: center; ">
        <input type="tel" name="username" id="username" class="samplenumberemail" style="display: inline; position: relative;" required placeholder="Phone number">
        <br>
        <input type="email" name="username" id="username" class="samplenumberemail" style="display: inline; position: relative;" required placeholder="E-mail address">
    </div>

      <div class="shop-content">
        <!--Box 1-->
        <div class="product-box">
                <img src="/samples/0028__silver__melange.jpg" alt="" class="product-img">
                <h2 class="product-title">Silver melange_0028</h2>
            </label>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
            </div>

        <!--Box 3-->
    </label>
        <div class="product-box">
                <img src="/samples/0054__melbourne.jpg" alt="" class="product-img">
                <h2 class="product-title">Melbourne_0054</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 4-->

        <div class="product-box">
            <img src="/samples/0034__tweed__senape.jpg" alt="" class="product-img">
            <h2 class="product-title">Tweed senape_0034</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 5-->

        <div class="product-box">
            <img src="/samples/0180__sunrise.jpg" alt="" class="product-img">
            <h2 class="product-title">Sunrise_0180</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 6-->

        <div class="product-box">
            <img src="/samples/0186__brisbane.jpg" alt="" class="product-img">
            <h2 class="product-title">Brisbane_0186</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 6-->

        <div class="product-box">
            <img src="/samples/0364__silver__white.jpg" alt="" class="product-img">
            <h2 class="product-title">Silver white_0364</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 6-->

        <div class="product-box">
            <img src="/samples/0396__jade.jpg" alt="" class="product-img">
            <h2 class="product-title">Jade_0396</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 7-->

        <div class="product-box">
            <img src="/samples/0403__tweed__brown.jpg" alt="" class="product-img">
            <h2 class="product-title">Tweed brown_0403</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0402__charcoal__tweed.jpg" alt="" class="product-img">
            <h2 class="product-title">Charcoal tweed_0402</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0452__canberra.jpg" alt="" class="product-img">
            <h2 class="product-title">Canberra_0452</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0493__gladstone.jpg" alt="" class="product-img">
            <h2 class="product-title">Gladstone_0493</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0497__broken__hill.jpg" alt="" class="product-img">
            <h2 class="product-title">Broken hill_0497</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0505__stitch__calcite.jpg" alt="" class="product-img">
            <h2 class="product-title">Stitch calcite_0505</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0507__stitch__ruby.jpg" alt="" class="product-img">
            <h2 class="product-title">Stitch ruby_0507</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0512__stitch__andesite.jpg" alt="" class="product-img">
            <h2 class="product-title">Stitch andesite_0512</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0597__stone__tweed.jpg" alt="" class="product-img">
            <h2 class="product-title">Stone tweed_0597</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0638__ash.jpg" alt="" class="product-img">
            <h2 class="product-title">Ash_0638</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0715__platinum.jpg" alt="" class="product-img">
            <h2 class="product-title">Platinum_0715</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0734__winetone.jpg" alt="" class="product-img">
            <h2 class="product-title">Wintetone_0734</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0794__tweed__argent.jpg" alt="" class="product-img">
            <h2 class="product-title">Tweed agrent_0794</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0734__winetone.jpg" alt="" class="product-img">
            <h2 class="product-title">Wintetone_0734</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0814__amber__beige.jpg" alt="" class="product-img">
            <h2 class="product-title">Amber beige_0814</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0923__marble.jpg" alt="" class="product-img">
            <h2 class="product-title">Marble_0923</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0937__iron.jpg" alt="" class="product-img">
            <h2 class="product-title">Iron_0937</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0990__candlelight.jpg" alt="" class="product-img">
            <h2 class="product-title">Candlelight_0990</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0991__lantern.jpg" alt="" class="product-img">
            <h2 class="product-title">Lantern_0991</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0992__timber.jpg" alt="" class="product-img">
            <h2 class="product-title">Timber_0992</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/0993__concrete.jpg" alt="" class="product-img">
            <h2 class="product-title">Concrete_0993</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/1524__graphite__zip.jpg" alt="" class="product-img">
            <h2 class="product-title">Graphite_1524</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/1597__zip__grey.jpg" alt="" class="product-img">
            <h2 class="product-title">Zip grey_1597</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2013__amarillo.jpg" alt="" class="product-img">
            <h2 class="product-title">Amarillo_2013</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2015__amarillo.jpg" alt="" class="product-img">
            <h2 class="product-title">Amarillo_2015</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2016__argentina.jpg" alt="" class="product-img">
            <h2 class="product-title">Argentina_2016</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2018__azul.jpg" alt="" class="product-img">
            <h2 class="product-title">Azul_2018</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2038__beige.jpg" alt="" class="product-img">
            <h2 class="product-title">Beige_2038</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2041__berna.jpg" alt="" class="product-img">
            <h2 class="product-title">Berna_2041</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2042__blanco.jpg" alt="" class="product-img">
            <h2 class="product-title">Blanco_2042</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2047__coco.jpg" alt="" class="product-img">
            <h2 class="product-title">Coco_2047</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2050__orange.jpg" alt="" class="product-img">
            <h2 class="product-title">Orange_2050</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2061__canada.jpg" alt="" class="product-img">
            <h2 class="product-title">Canada_2061</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2080__dakar.jpg" alt="" class="product-img">
            <h2 class="product-title">Dakar_2080</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2085__tweed__negro.jpg" alt="" class="product-img">
            <h2 class="product-title">Tweed negro_2085</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2101__granate.jpg" alt="" class="product-img">
            <h2 class="product-title">Granate_2101</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2103__gris.jpg" alt="" class="product-img">
            <h2 class="product-title">Gris_21031</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2121__marte.jpg" alt="" class="product-img">
            <h2 class="product-title">Marte_2121</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2143__marfil.jpg" alt="" class="product-img">
            <h2 class="product-title">Marfil_2143</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2145__marine.jpg" alt="" class="product-img">
            <h2 class="product-title">Marine_2145</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2148__marron__beige.jpg" alt="" class="product-img">
            <h2 class="product-title">Marron beige_2148</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2170__negro.jpg" alt="" class="product-img">
            <h2 class="product-title">Negro_2170</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2174__new__york.jpg" alt="" class="product-img">
            <h2 class="product-title">New york_2174</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2179__pluton.jpg" alt="" class="product-img">
            <h2 class="product-title">Pluton_2179</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2180__ocre.jpg" alt="" class="product-img">
            <h2 class="product-title">Ocre_2180</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2191__orlando.jpg" alt="" class="product-img">
            <h2 class="product-title">Orlando_2191</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2210__rioja.jpg" alt="" class="product-img">
            <h2 class="product-title">Rioja_2210</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2211__bright__red.jpg" alt="" class="product-img">
            <h2 class="product-title">Bright red_2211</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2226__siroco.jpg" alt="" class="product-img">
            <h2 class="product-title">Siroco_2226</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2238__texas.jpg" alt="" class="product-img">
            <h2 class="product-title">Texas_2238</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2245__verde__botella.jpg" alt="" class="product-img">
            <h2 class="product-title">Verde botella_2245</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2250__vision.jpg" alt="" class="product-img">
            <h2 class="product-title">Vision_2250</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2275__beige.jpg" alt="" class="product-img">
            <h2 class="product-title">Beige_2275</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2296__avena.jpg" alt="" class="product-img">
            <h2 class="product-title">Avena_2296</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2316__cafe.jpg" alt="" class="product-img">
            <h2 class="product-title">Cafe_2316</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2687__vanilla.jpg" alt="" class="product-img">
            <h2 class="product-title">Vanilla_2687</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2701__jamaica.jpg" alt="" class="product-img">
            <h2 class="product-title">Jamaica_2701</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2777__breeze.jpg" alt="" class="product-img">
            <h2 class="product-title">Breeze_2777</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2796__antracita.jpg" alt="" class="product-img">
            <h2 class="product-title">Antracita_2796</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2802__zinc.jpg" alt="" class="product-img">
            <h2 class="product-title">Zinc_2802</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2821__silver.jpg" alt="" class="product-img">
            <h2 class="product-title">Silver_2821</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2823__manchester.jpg" alt="" class="product-img">
            <h2 class="product-title">Manchester_2823</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2831__mineral.jpg" alt="" class="product-img">
            <h2 class="product-title">Mineral_2831</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2838__integral.jpg" alt="" class="product-img">
            <h2 class="product-title">Integral_2838</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2929__natural.jpg" alt="" class="product-img">
            <h2 class="product-title">Natural_2929</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/2979__perla.jpg" alt="" class="product-img">
            <h2 class="product-title">Perla_2979</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/3427__bologna.jpg" alt="" class="product-img">
            <h2 class="product-title">Bologna_3427</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/3463__snowflake.jpg" alt="" class="product-img">
            <h2 class="product-title">Snowflake_3463</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/3605__palermo.jpg" alt="" class="product-img">
            <h2 class="product-title">Palermo_3605</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/3608__metropolitan.jpg" alt="" class="product-img">
            <h2 class="product-title">Metropolitan_3608</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/3672__taranto.jpg" alt="" class="product-img">
            <h2 class="product-title">Taranto_3672</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/3746__ancona.jpg" alt="" class="product-img">
            <h2 class="product-title">Ancona_3746</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/3861__salerno.jpg" alt="" class="product-img">
            <h2 class="product-title">Salerno_3861</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/3864__foggia.jpg" alt="" class="product-img">
            <h2 class="product-title">Foggia_3864</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/3868__milano.jpg" alt="" class="product-img">
            <h2 class="product-title">Milano_3868</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/3875__padova.jpg" alt="" class="product-img">
            <h2 class="product-title">Padova_3875</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/3881__andria.jpg" alt="" class="product-img">
            <h2 class="product-title">Andria_3881</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/3882__ravenna.jpg" alt="" class="product-img">
            <h2 class="product-title">Ravenna_3882</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/3889__firenze.jpg" alt="" class="product-img">
            <h2 class="product-title">Firenze_3889</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/4639__sahara__dust.jpg" alt="" class="product-img">
            <h2 class="product-title">Sahara dust_4639</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/4640__namib.jpg" alt="" class="product-img">
            <h2 class="product-title">Namib_4640</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/4643__cliffs.jpg" alt="" class="product-img">
            <h2 class="product-title">Cliffs_4643</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/4644__fjord.jpg" alt="" class="product-img">
            <h2 class="product-title">Fjord_4644</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/4655__ladakh.jpg" alt="" class="product-img">
            <h2 class="product-title">Ladakh_4655</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/4657__rosopsida.jpg" alt="" class="product-img">
            <h2 class="product-title">Rosopsida_4657</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/4658__gobi.jpg" alt="" class="product-img">
            <h2 class="product-title">Gobi_4658</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/4662__beach.jpg" alt="" class="product-img">
            <h2 class="product-title">Beach_4662</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/4665__vulcano.jpg" alt="" class="product-img">
            <h2 class="product-title">Vulcano_4665</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/5106__alberta.jpg" alt="" class="product-img">
            <h2 class="product-title">Alberta_5106</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/6106__sunbury.jpg" alt="" class="product-img">
            <h2 class="product-title">Sunbury_6106</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/6319__nauges__flame.jpg" alt="" class="product-img">
            <h2 class="product-title">Nauges flame_6319</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/6711__edmonton.jpg" alt="" class="product-img">
            <h2 class="product-title">Edmonton_6711</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/6712__calgary.jpg" alt="" class="product-img">
            <h2 class="product-title">Calgary_6712</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/6727__dark__linen.jpg" alt="" class="product-img">
            <h2 class="product-title">Dark linen_6727</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/7131__multico__flame.jpg" alt="" class="product-img">
            <h2 class="product-title">Multico flame_7131</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/7151__tweed__rock.jpg" alt="" class="product-img">
            <h2 class="product-title">Tweed rock_7151</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/7324__ebony__tweed.jpg" alt="" class="product-img">
            <h2 class="product-title">Ebony tweed_7324</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/7351__oslo__fire.jpg" alt="" class="product-img">
            <h2 class="product-title">Oslo fire_7351</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/7926__tweed__latte.jpg" alt="" class="product-img">
            <h2 class="product-title">Tweed latte_7926</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8203__basalt.jpg" alt="" class="product-img">
            <h2 class="product-title">Basalt_8203</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8224__lisbonne__nature.jpg" alt="" class="product-img">
            <h2 class="product-title">Lisbone nature_8224</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8265__amarillo--CZeDRD.jpg" alt="" class="product-img">
            <h2 class="product-title">Amarillo czedrd_8265</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8268__blanco.jpg" alt="" class="product-img">
            <h2 class="product-title">Blanco_8268</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8271__gris.jpg" alt="" class="product-img">
            <h2 class="product-title">Gris_8271</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8272__marfil.jpg" alt="" class="product-img">
            <h2 class="product-title">Marfil_8272</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8275__negro.jpg" alt="" class="product-img">
            <h2 class="product-title">Negro_8275</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8442__tandem__blanco.jpg" alt="" class="product-img">
            <h2 class="product-title">Tandem blanco_8442</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8445__tandem__piedra.jpg" alt="" class="product-img">
            <h2 class="product-title">Tandem piedra_8445</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8446__tandem__grafito.jpg" alt="" class="product-img">
            <h2 class="product-title">Tandem grafito_8446</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8488__antracita.jpg" alt="" class="product-img">
            <h2 class="product-title">8488_Antracita</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8615__white__linen.jpg" alt="" class="product-img">
            <h2 class="product-title">White linen_8615</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8854__marseille__flame.jpg" alt="" class="product-img">
            <h2 class="product-title">Marseille flame_8854</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8904__lin__melange.jpg" alt="" class="product-img">
            <h2 class="product-title">Lin melange_8904</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8931__sienne__stone.jpg" alt="" class="product-img">
            <h2 class="product-title">Sienne stone_8931</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/8935__hardelot__nature.jpg" alt="" class="product-img">
            <h2 class="product-title">Hardelot nature_8935</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/9415__pietra__beige.jpg" alt="" class="product-img">
            <h2 class="product-title">Pietra beige_9415</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/9878__mossy__tweed.jpg" alt="" class="product-img">
            <h2 class="product-title">Mossy tweed_9878</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/d100__sienne__nature.jpg" alt="" class="product-img">
            <h2 class="product-title">Sienne nature_d100</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/d113__naples__stone.jpg" alt="" class="product-img">
            <h2 class="product-title">Naples stone_d113</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/d299__wide__chine__green.jpg" alt="" class="product-img">
            <h2 class="product-title">Wide chine green_d299</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/d300__wide__chine__yellow.jpg" alt="" class="product-img">
            <h2 class="product-title">Wide chine yellow_d300</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/d301__wide__chine__beige.jpg" alt="" class="product-img">
            <h2 class="product-title">Wide chine beige_d301</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/d304__naples__light__grey.jpg" alt="" class="product-img">
            <h2 class="product-title">Naples light grey_d304</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/d305__naples__heather.jpg" alt="" class="product-img">
            <h2 class="product-title">Naples heather_d305</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/d307__naples__linen.jpg" alt="" class="product-img">
            <h2 class="product-title">Naples linen_d307</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/d319__pencil__dark__grey.jpg" alt="" class="product-img">
            <h2 class="product-title">Pencil dark grey_d319</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/d320__pencil__grey.jpg" alt="" class="product-img">
            <h2 class="product-title">Pencil grey_d320</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/d323__pencil__yellow.jpg" alt="" class="product-img">
            <h2 class="product-title">Pencil yellow_d323</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/d324__pencil__beige.jpg" alt="" class="product-img">
            <h2 class="product-title">Pencil beige_d324</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/u104__flanelle.jpg" alt="" class="product-img">
            <h2 class="product-title">Flanelle_u104</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/u105__curry.jpg" alt="" class="product-img">
            <h2 class="product-title">Curry_u105</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/u190__silver__grey.jpg" alt="" class="product-img">
            <h2 class="product-title">Silver grey_u190</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/u235__chaume__pigue.jpg" alt="" class="product-img">
            <h2 class="product-title">Chaume pigue_u235</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/u390__switch__rouge.jpg" alt="" class="product-img">
            <h2 class="product-title">Swtitch rouge_u390</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/u393__switch__empire.jpg" alt="" class="product-img">
            <h2 class="product-title">Switch empire_u393</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/u411__carmin__pigue.jpg" alt="" class="product-img">
            <h2 class="product-title">Carmin pigue_u411</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/u412__piment__pigue.jpg" alt="" class="product-img">
            <h2 class="product-title">Piment pigue_u412</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/u413__potiron__pigue.jpg" alt="" class="product-img">
            <h2 class="product-title">Potiron pigue_u413</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->

        <div class="product-box">
            <img src="/samples/u417__meleze__pigue.jpg" alt="" class="product-img">
            <h2 class="product-title">Meleze pigue_u417</h2>
            <span class="price">£0</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
      </div>
    </section>
  </div>
<!-- MY FOOTER-->
<footer class="myfooter">
    <div class="myrowfooter">
      <div class="columnfooter left1">
        <div class="footerheader">
            <h8>English Awnings Direct</h8>
        </div>
        <ul class="liststyle">
          <li class="listyle1">www.EnglishAwningsDirect.com</li>
          <li class="listyle1">United Kingdom, Dorset</li>
          <li class="listyle1">Unit 6 West Howe Industrial Estate</li>
          <li class="listyle1">Elliot road</li>
          <li class="listyle1">BH11 8JX</li>
        </ul>
      </div>
      <h2 class="verticalline-footer">
        <span></span>
      </h2>
      <div class="columnfooter left2">
        <div class="footerheader">
            <h8>Awnings</h8>
        </div>
        <ul class="liststyle">
          <li class="listyle1"><a href="/casablanca/">Casablanca cassette</a></li>
          <li class="listyle1"><a href="/corsica/">Corsica cassette</a></li>
          <li class="listyle1"><a href="/palladio/">Palladio cassette</a></li>
          <li class="listyle1"><a href="/silverplus/">Silver plus</a></li>
          <li class="listyle1"><a href="/boxitalia/">Italia sun blind</a></li>
          <li class="listyle1"><a href="/bora/">Bora</a></li>
        </ul>
      </div>
      <h2 class="verticalline-footer">
        <span></span>
      </h2>
      <div class="columnfooter left3">
        <div class="footerheader">
            <h8>Features</h8>
        </div>
        <ul class="liststyle">
          <li class="listyle1"><a href="/color-pallet/">Fabric colour pallet</a></li>
          <li class="listyle1"><a href="/about/">Quality</a></li>
          <li class="listyle1"><a href="/about/#demo">Style</a></li>
          <li class="listyle1"><a href="/about/#ease">Ease</a></li>
          <li class="listyle1"><a href="/about/#features">Adjustment</a></li>
          <li class="listyle1"><a href="/about/#howto">About Us</a></li>
        </ul>
      </div>
      <h2 class="verticalline-footer">
        <span></span>
      </h2>
      <div class="columnfooter left4">
        <div class="footerheader">
            <h8>Follow us</h8>
        </div>
            <ul class="liststyle">
              <div class="social-network social-circle">
                <li class="listyle1"><a href="https://www.facebook.com/English-Awnings-Direct-101963445787288" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              </div>
              <br>
              <li class="listyle1"><a href="/cookiepolicy/">Privacy Policy</a></li>
              <li class="listyle1"><a href="/terms&conditions/">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="columnfooter-bottomfooter">
      <div class="col-md-12 copy">
          <p class="text-center-footer">&copy; Copyright 2022 - English Awnings Direct.  All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- FOOTER OVER-->


                  <!--FACEBOOK CHAT START-->
        <div id="fb-root"></div>
        <!-- Your Chat plugin code -->
        <div id="fb-customer-chat" class="fb-customerchat">
        </div>
        
        <script>
          var chatbox = document.getElementById('fb-customer-chat');
          chatbox.setAttribute("page_id", "101963445787288");
          chatbox.setAttribute("attribution", "biz_inbox");
        </script>
        
        <!-- Your SDK code -->
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              xfbml            : true,
              version          : 'v13.0'
            });
          };
        
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
<!--FACEBOOK CHAT OVER-->


<!--Link to JS CART-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/script1.js"></script> 
<script src="/js/main.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-222500318-1"></script>
<!--BEST SELLERS-->
<script src="/js/bestsells.json"></script>
<!--SCRIPT FOR LETTER SUBSCRIBE -->
<script src="https://kit.fontawesome.com/0e66a92efa.js" crossorigin="anonymous"></script>
<!-- SCRIPT SLIDESHOW INDEX-->
<script src="/js/slideshowindex.js"></script>
<!-- START JS TOP MENU-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="/js/topmenuscript.js"></script>
<!-- OVER JS TOP MENU-->
<script src="/order.js"></script>
<script src="/sample.js"></script>
<script  src="/js/topmenurespo.js"></script>

</body>
</html>