<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="https://scontent-lcy1-1.xx.fbcdn.net/v/t39.30808-6/276062963_111075821542717_3691481390296484530_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=acusAwlB-tUAX-t9yHb&_nc_ht=scontent-lcy1-1.xx&oh=00_AT-HqLxoyXHs18H6YqR2_8nUdefN7PPZFb3UY8WZlx1pmw&oe=624FF685">
<!-- MY STYLES-->
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/responsiveimg.css">
<link rel="stylesheet" href="/css/footer.css">

<!--Message us form-->
<link rel="stylesheet" href="/css/messageform.css">
<!-- link ro interactive shop-->
<link rel="stylesheet" href="/css/style.css" />
<!---->
<link rel="stylesheet" href="/css/style1.css"> 
    
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

<!--Usage as font-->
<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />


<!--SLIDE SHOW INDEX-->
<link rel="stylesheet" href="css/slideshowindex.css">

<!-- FONT CSS MAIN STYLE-->
<link rel="stylesheet" href="/css/fontstyle.css">
<!--FONT CSS RESPONSIVE STYLE-->
<link rel="stylesheet" href="/css/fontresponsive.css">
<!-- FRESH MENU -->
<link rel="stylesheet" href="/css/topmenurespo.css">

<style>
 @import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
</style>

<title>English Awnings Direct - Contact us</title>
<head>
  <%- include('partials/cookies'); -%>
<!--START MENU-->
<header id="header">
  <div class="brand containermenutopfresh"><a class="logo" href="/" rel="home">English Awnings Direct</a><span class="tagline">Relax with us</span></div>
  <nav class="nav containermenutopfresh" id="nav">
    <ul class="menu">
      <li class="menu-item"><a href="/">home</a></li>
      <li class="menu-item"><a href="/about">about</a></li>
      <li class="menu-item"><a href="#">Products</a>
        <ul class="sub-menu">
          <li class="biggersub"><a href="/awnings">Awnings</a>
            <ul class="sub-menu">
              <li><a href="/casablanca/" class="alinkmenu">Casablanca</a></li>
              <li><a href="/corsica/" class="alinkmenu">Corsica</a></li>
              <li><a href="/palladio/" class="alinkmenu">Palladio</a></li>
              <li><a href="/Silverplus/" class="alinkmenu">Silver plus</a></li>
              <li><a href="/boxitalia/" class="alinkmenu">Italia</a></li>
              <li><a href="/bora/" class="alinkmenu">Bora</a></li>
            </ul>
          </li>
          <li class="biggersub"><a href="/accessories">Accessories</a>
            <ul class="sub-menu">
              <li><a href="/nemored/" class="alinkmenu">Motor nemo red</a></li>
              <li><a href="/nemoyellow/" class="alinkmenu">Motor nemo yellow</a></li>
              <li><a href="/eolis/" class="alinkmenu">Eolis</a></li>
              <li><a href="/soliris/" class="alinkmenu">Soliris</a></li>
              <li><a href="/shock/" class="alinkmenu">Shock</a></li>
              <li><a href="/somfycontroller/" class="alinkmenu">Somfy controller</a></li>
              <li><a href="/crank/" class="alinkmenu">Crank</a></li>
              <li><a href="/fabric1x1/" class="alinkmenu">Fabrics</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="/color-pallet">Fabric colours</a>
      <li class="menu-item"><a href="">Guide</a>
        <ul class="sub-menu">
          <li><a href="/brackets/">Bracket types</a>
          </li>
          <li><a href="/ultimateguide/">Ultimate guide</a>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="/contact-us">Contact</a>
      </li>
      <li><a href="#" class=""><i class="fa fa-search"></i></a></li>
      <li><a href="https://www.facebook.com/EnglishAwningsDirect/" target="_blank"><i class=" menufont fa fa-facebook head-social-link"></i></a></li>
        <!--Cart icon-->
        <li class=" m-hidden card-right"><i class=" bx bx-shopping-bag cart-icon"></i></li>
      </li>
    </ul>
  </nav>
</header>
</head>
    
<body>
  <form action="/payment/" method="get">
    <div class="cart">
      <h2 class="cart-title">Your cart</h2>
      <!--Content -->
      <div class="cart-content">
      </div>
      <!--Total-->
      <div class="total">
        <div class="total-title">Total</div>
        <input style="display:none" id="price" name="price" class="total-price"/>
      </div>
      <!--But button-->
      <button type="submit" class="btn-buy">Buy now</button>
      <i class='bx bx-x' id="close-cart"></i>
      </div>
    </form>
</div>
<div class="rowcontactus">
  <div class="columncontactus1" style="background-color:white;">
  </div>
  <div class="columncontactus2" style="background-color:white;">
    <h4>Thanks for looking. 
      <br>
      <br>
      We’d love to hear from you.</h4>
    </div>
    <br>
    <br>
    <p>
      Whether you are looking for inspiration or are set on a particular style.
  </p>
    <br>
    <br>
    <p>Have a question ? Ask below.</p>

    <br>
    <br>
    <br>
    <br>
    <div class="emailusform";>
      <form action="/action_page.php">
        
        <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
        <label for="nme1"><span>What's your name?</span></label>
        <br>
        <br>
        <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
        <label for="nme2"><span>What's your e-mail?</span></label>
        <br>
        <br>
        <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
        <label for="nme3"><span>What's your county?</span></label>
        <br>
        <br>
        <textarea name="message" rows="2" class="question" id="msg" required autocomplete="off"></textarea>
        <label for="msg"><span>What's your message?</span></label>
        <br>
        <br>
          <div class="cont">	
              <button class="emailbutton"><img src="/img/sendemailm.png" alt=""></button>
          </div>

        </form>
      </div>
        </div>
</body>
</form>
  <!-- CONTACT FORM CODE OVER  -->
</section>
<br>
<br>
<br>
<br>
<br>
<h4>
  Address:
</h4>
<br>
<br>
<p>Unit 6</p>
<p>West Howe Industrial Estate</p>
<p>Elliott road</p>
<p>Dorset</p>
<p>BH11 8JX</p>
<br>
<br>
<br>
<br>
<!-- MY FOOTER-->
<footer class="myfooter">
  <div class="myrowfooter">
    <div class="columnfooter left1">
      <div class="footerheader">
          <h8>English Awnings Direct</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1">www.EnglishAwningsDirect.com</li>
        <li class="listyle1">United Kingdom, Dorset</li>
        <li class="listyle1">Unit 6 West Howe Industrial Estate</li>
        <li class="listyle1">Elliot road</li>
        <li class="listyle1">BH11 8JX</li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left2">
      <div class="footerheader">
          <h8>Awnings</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1"><a href="/casablanca/">Casablanca cassette</a></li>
        <li class="listyle1"><a href="/corsica/">Corsica cassette</a></li>
        <li class="listyle1"><a href="/palladio/">Palladio cassette</a></li>
        <li class="listyle1"><a href="/silverplus/">Silver plus</a></li>
        <li class="listyle1"><a href="/boxitalia/">Italia sun blind</a></li>
        <li class="listyle1"><a href="/bora/">Bora</a></li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left3">
      <div class="footerheader">
          <h8>Features</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1"><a href="/color-pallet/">Fabric colour pallet</a></li>
        <li class="listyle1"><a href="/about/">Quality</a></li>
        <li class="listyle1"><a href="/about/#demo">Style</a></li>
        <li class="listyle1"><a href="/about/#ease">Ease</a></li>
        <li class="listyle1"><a href="/about/#features">Adjustment</a></li>
        <li class="listyle1"><a href="/about/#howto">About Us</a></li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left4">
      <div class="footerheader">
          <h8>Follow us</h8>
      </div>
          <ul class="liststyle">
            <div class="social-network social-circle">
              <li class="listyle1"><a href="https://www.facebook.com/English-Awnings-Direct-101963445787288" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            </div>
            <br>
            <li class="listyle1"><a href="/cookiepolicy/">Privacy Policy</a></li>
            <li class="listyle1"><a href="/terms&conditions/">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="columnfooter-bottomfooter">
    <div class="col-md-12 copy">
        <p class="text-center-footer">&copy; Copyright 2022 - English Awnings Direct.  All rights reserved.</p>
    </div>
  </div>
</footer>
<!-- FOOTER OVER-->
<!-- Messenger Chat plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "101963445787288");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v13.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
        <!-- FOOTER START -->
 
                <!--FACEBOOK CHAT START-->
                <div id="fb-root"></div>
                <!-- Your Chat plugin code -->
                <div id="fb-customer-chat" class="fb-customerchat">
                </div>
                
                <script>
                  var chatbox = document.getElementById('fb-customer-chat');
                  chatbox.setAttribute("page_id", "101963445787288");
                  chatbox.setAttribute("attribution", "biz_inbox");
                </script>
                
                <!-- Your SDK code -->
                <script>
                  window.fbAsyncInit = function() {
                    FB.init({
                      xfbml            : true,
                      version          : 'v13.0'
                    });
                  };
                
                  (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                </script>
                <!--FACEBOOK CHAT OVER-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-222500318-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-222500318-1');
  
</script>

<!--Link to JS CART-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-222500318-1"></script>
<!--BEST SELLERS-->
<script src="/js/bestsells.json"></script>
<!--SCRIPT FOR LETTER SUBSCRIBE -->
<script src="https://kit.fontawesome.com/0e66a92efa.js" crossorigin="anonymous"></script>
<!-- SCRIPT SLIDESHOW INDEX-->
<script src="/js/slideshowindex.js"></script>
<!-- START JS TOP MENU-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="/js/topmenuscript.js"></script>
<!-- OVER JS TOP MENU-->
<script src="/order.js"></script>
<script  src="/js/topmenurespo.js"></script>

</body>
</html>