<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="https://scontent-lcy1-1.xx.fbcdn.net/v/t39.30808-6/276062963_111075821542717_3691481390296484530_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=acusAwlB-tUAX-t9yHb&_nc_ht=scontent-lcy1-1.xx&oh=00_AT-HqLxoyXHs18H6YqR2_8nUdefN7PPZFb3UY8WZlx1pmw&oe=624FF685">
<!-- MY STYLES-->
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/responsiveimg.css">
<link rel="stylesheet" href="/css/footer.css">

<!--3D carrousel-->
<link rel="stylesheet" href="/css/3dcarrousel.css">
<!--BEST SELLERS + ADDITIONAL 10%-->
<link rel="stylesheet" href="/css/bestsellers.css">
<!-- link to interactive shop-->
<link rel="stylesheet" href="/css/style.css" />
<!---->
<link rel="stylesheet" href="/css/style1.css"> 
    
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

<!--Usage as font-->
<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />


<!--SLIDE SHOW INDEX-->
<link rel="stylesheet" href="css/slideshowindex.css">

<!-- FONT CSS MAIN STYLE-->
<link rel="stylesheet" href="/css/fontstyle.css">
<!--FONT CSS RESPONSIVE STYLE-->
<link rel="stylesheet" href="/css/fontresponsive.css">
<!-- NEWMENU -->
<link rel="stylesheet" href="/css/topmenurespo.css">

<!--EXCLUSIVE SERVICES-->
<link rel="stylesheet" href="/css/exclusiveservices.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">


<style>


@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
.contactnumber{
  text-decoration: underline;
}
h4{
  font-size: 3vw;
}
/* TICKIS */
.active {
  background: rgba(255, 255, 255, 0.9);
}

/* Media Queries */
/**************************/

.images-home-sponsors-raw{
 width: 100%;
 display: flex;
 justify-content: center;
}

.column-images-home-sponsors {
  float: left;
  padding: 0px;
  margin: 0;
}


.imgbora{
  width: 400px;
  margin-left: 70%;
  margin-top: 25%;
  display: flex;
}


/* OVER SPONSORS BOTTOM IMAGES */

.vanfreeimg{
  width: 250px;
  margin-left: 43.5%;
}



</style>


<title>English Awnings Direct - Home</title>
<head>
  <%- include('partials/cookies'); -%>

<!--START MENU-->
    <header id="header">
      <div class="brand containermenutopfresh"><a class="logo" href="/" rel="home">English Awnings Direct</a><a class="logo1" href="/" rel="home" style="text-decoration:none;">-</a> <span class="tagline">Relax with us</span></div>
      <nav class="nav containermenutopfresh" id="nav">
        <ul class="menu">
          <li class="menu-item"><a href="/">home</a></li>
          <li class="menu-item"><a href="/about">about</a></li>
          <li class="menu-item"><a href="#">Products</a>
            <ul class="sub-menu">
              <li class="biggersub"><a href="/awnings">Awnings</a>
                <ul class="sub-menu">
                  <li><a href="/casablanca/" class="alinkmenu">Casablanca</a></li>
                  <li><a href="/corsica/" class="alinkmenu">Corsica</a></li>
                  <li><a href="/palladio/" class="alinkmenu">Palladio</a></li>
                  <li><a href="/Silverplus/" class="alinkmenu">Silver plus</a></li>
                  <li><a href="/boxitalia/" class="alinkmenu">Italia</a></li>
                  <li><a href="/bora/" class="alinkmenu">Bora</a></li>
                </ul>
              </li>
              <li class="biggersub"><a href="/accessories">Accessories</a>
                <ul class="sub-menu">
                  <li><a href="/nemored/" class="alinkmenu">Motor nemo red</a></li>
                  <li><a href="/nemoyellow/" class="alinkmenu">Motor nemo yellow</a></li>
                  <li><a href="/eolis/" class="alinkmenu">Eolis</a></li>
                  <li><a href="/soliris/" class="alinkmenu">Soliris</a></li>
                  <li><a href="/shock/" class="alinkmenu">Shock</a></li>
                  <li><a href="/somfycontroller/" class="alinkmenu">Somfy controller</a></li>
                  <li><a href="/crank/" class="alinkmenu">Crank</a></li>
                  <li><a href="/fabric1x1/" class="alinkmenu">Fabrics</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item"><a href="/color-pallet">Fabric colours</a>
          <li class="menu-item"><a href="">Guide</a>
            <ul class="sub-menu">
              <li><a href="/brackets/">Bracket types</a>
              </li>
              <li><a href="/ultimateguide/">Ultimate guide</a>
              </li>
            </ul>
          </li>
          <li class="menu-item"><a href="/contact-us">Contact</a>
          </li>
          <li><a href="#" class=""><i class="fa fa-search"></i></a></li>
          <li><a href="https://www.facebook.com/EnglishAwningsDirect/" target="_blank"><i class=" menufont fa fa-facebook head-social-link"></i></a></li>
            <!--Cart icon-->
            <li class=" m-hidden card-right"><i class=" bx bx-shopping-bag cart-icon"></i></li>
          </li>
        </ul>
      </nav>
</header>
    
<body>
  <form action="/payment/" method="get">
    <div class="cart">
      <h2 class="cart-title">Your cart</h2>
      <!--Content -->
      <div class="cart-content">
      </div>
      <!--Total-->
      <div class="total">
        <div class="total-title">Total</div>
        <input style="display:none" id="price" name="price" class="total-price"/>
      </div>
      <!--But button-->
      <button type="submit" class="btn-buy">Buy now</button>
      <i class='bx bx-x' id="close-cart"></i>
      </div>
    </form>
</div>
  <%- include('partials/cookies'); -%>

    <div id="parallax-world-of-ugg">

        <section>
          <div class="title">
            <h1>English</h1>
            <h1>Awnings direct</h1>
            <h1>Relax with us</h1>
          </div>
        </section>
        
        <section>
            <div class="parallax-one">
              <h2>English Awnings Direct</h2>
              <h2>Awnings for your garden and patio.</h2>
            </div>
        </section>
        <br>
        <br>
        <br>
            <p class="line-break margin-top-10"></p>
            <h4>WHO ARE WE<br>?</h4>
            <br>
            <br>
            <br>
            <br>
            <p>We are an awning company located in Bournemouth, England
            </p>
            <p>and have been supplying the local area for over 28 years.</p>
            <br>
            <p>Our timeline has led us to many connections and huge gained experience.</p>
            <p>With our accountability and passion we are happy to provide the best quality</p>
            <p>european products with the lowest prices available.</p>
            <br>
            <p>When it comes to our awnings, we make sure that all our costumers receive honest advice,</p>
            <p>possibility of fitting and our 2-year guarantee!</p>
      <br>
      <br>
      <br>
      <br>
          <div class="parallax-three">
            <div class="e-banner__contents">  
              <h2 class="headerparralax3">Extend your space</h2>
              <h2 class="headerparralax3">for the entire range</h2>
              <h2 class="headerparralax3">with</h2>
              <h2>Additional 10% OFF</h2>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div class="e-banner__text">
                <div class="e-banner__text--cta">
                  <div class="e-banner__text--headline">
                    <br>
                    <a href="/awnings" class="Discovernow">Discover Now</a>
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
             </div>
            </div>
          </div>
        </section>
      <div class="bestsellersobjectmedia">
        <section class="e-ways-to-shop">

          <div class="e-ways-to-shop__center">
            <h2 class="e-ways-to-shop__header">
              <span></span>
              <br>
                <h2 class="bestsellershead">Best sellers</h2>
            </h2>
          <div class="alignedbests">
            <br>
            <br>
            <br>
            <div class="e-ways-to-shop__contents">

              <div class="bestsellcontainer">
                <article class="e-ways-to-shop__item">
                  <div class="e-ways-to-shop__item--image">
                    <a href="/silverplus">
                      <img src="/img/awnings style/Silver Plus site access.png" class="silverbestsellerimg" alt=""/>	
                    </a>
                  </div>
                  <div class="e-ways-to-shop__item--name">
                    <h3><a href="/">Silver plus</a></h3>
                  </div>
                </article>
              </div>

              <div class="bestsellcontainer">
                <article class="e-ways-to-shop__item">
                  <div class="e-ways-to-shop__item--image">
                    <a href="/corsica">
                      <img src="/img/awnings style/Corsica Cassette site access.png" class="corsicabestsellerimg" alt=""/>	
                    </a>
                  </div>
                  <div class="e-ways-to-shop__item--name">
                    <h3><a href="/">Corsica</a></h3>
                  </div>
                </article>
              </div>

              <div class="bestsellcontainer">
                <article class="e-ways-to-shop__item">
                  <div class="e-ways-to-shop__item--image">
                    <a href="/palladio">
                      <img src="/img/awnings style/Palladio Cassette site access.png" class="palladiobestsellerimg" alt=""/>	
                    </a>
                  </div>
                  <div class="e-ways-to-shop__item--name">
                    <h3><a href="/">Palladio</a></h3>
                  </div>
                </article>
              </div>

              <div class="bestsellcontainer">
                <article class="e-ways-to-shop__item">
                  <div class="e-ways-to-shop__item--image">
                    <a href="/casablanca">
                      <img src="/img/awnings style/Casablanca Cassette site access.png" class="casablancabestsellerimg" alt=""/>	
                    </a>
                  </div>
                  <div class="e-ways-to-shop__item--name">
                    <h3><a href="/">Casablanca</a></h3>
                  </div>
                </article>
              </div>

              <div class="bestsellcontainer">
                <article class="e-ways-to-shop__item">
                  <div class="e-ways-to-shop__item--image">
                    <a href="/boxitalia">
                      <img src="/img/awnings style/Box Italia access.png" class="boxbestsellerimg" alt=""/>	
                    </a>
                  </div>
                  <div class="e-ways-to-shop__item--name">
                    <h3><a href="/">Italia blind</a></h3>
                  </div>
                </article>
              </div>
            </div>
          </div>
          </div>
        </section>
      </div>
        <br>
        <br>
        <p class="line-break margin-top-10"></p>
        <div class="upgradetext">
          <h4>Did you know ?</h4>
      <br>
      <br>
      <p>Installing an awning in the right place on your home or business can help you save your energy up to 25 %.</p>
      <br>
      <p>When the hottest days of the year come around, having an awning could drop the temperature by as much as 20 degrees</p>
      <p>so you can relax comfortably.</p>
      <br>
      <p>You can enjoy more sunshine as the fabrics we use reduce the harmful UV rays by up to 98 %,</p>
      <br>
      <p>Protects your garden furniture from sun bleaching so it keeps it looking its best.</p>
      <br>
      <p>It’s the UK, Rain is always a strong possibility so the awning with shelter you & your furniture from the rain.</p>
      <br>
      <br>
      <br>
      <!--EXCLUSIVE SERVICES-->
<section class="section-services">
  <div class="containerexclusiveservices">
    <div class="row justify-content-center text-center">
      <div class="col-md-10 col-lg-8">
        <div class="header-sectionexclusive">
          <h2 class="titleexclusiveservices">Exclusive <span>Services</span></h2>
          <p class="descriptionexclusive">Our goals ensure our success.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Start Single Service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fab fa-500px"></i>
            <h9 class="titleexclusiveservices">Star Delivery in our vans</h3>
          </div>
          <div class="part-2">
            <p class="descriptionexclusive">FREE Delivery is available for all of our awnings by specialized team within the UK. <br>
              Orders including awning or accessories that we dispatches qualify for FREE. <br>
            </p>
            <br>
            <br>
            <a href="/contact-us/"><i class="fas fa-arrow-circle-right"></i>Send us a message</a>
          </div>
        </div>
      </div>
      <!-- / End Single Service -->
      <!-- Start Single Service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fab fa-angellist"></i>
            <h9 class="titleexclusiveservices">Online chat may refer to any kind communication</h3>
          </div>
          <div class="part-2">
            <p class="descriptionexclusive">We understand the need of express help that's why we provide many forms of communications.</p>
            <br>
            <br>
            <br>
            <a href="/contact-us/"><i class="fas fa-arrow-circle-right"></i>Send us a message</a>
          </div>
        </div>
      </div>
      <!-- / End Single Service -->
      <!-- Start Single Service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fas fa-award"></i>
            <h9 class="titleexclusiveservices">Providing free consulting</h3>
          </div>
          <div class="part-2">
            <p class="descriptionexclusive">Always happy to give a professional consulting by specialized team to answer any questions that are trembling you. </p>
            <br>
            <br>
            <br>
            <a href="/contact-us/"><i class="fas fa-arrow-circle-right"></i>Send us a message</a>
          </div>
        </div>
      </div>
      <!-- / End Single Service -->
      <!-- Start Single Service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fab fa-asymmetrik"></i>
            <h9 class="titleexclusiveservices">Express fitting service in quoting</h3>
          </div>
          <div class="part-2">
            <p class="descriptionexclusive">Through our 28 years of experience, we are equally qualitatively capable of assembling our products.</p>
            <br>
            <a href="/contact-us/"><i class="fas fa-arrow-circle-right"></i>Get in touch with us</a>
          </div>
        </div>
      </div>
      <!-- / End Single Service -->
      <!-- Start Single Service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fas fa-broadcast-tower"></i>
            <h9 class="titleexclusiveservices">Provide solutions and services to our costumers</h3>
          </div>
          <div class="part-2">
            <p class="descriptionexclusive">We want our clients to find a solution to any problem they encounter as soon as possible, which is why we constantly update our Ultimate guide</p>
            <br>
            <a href="/ultimateguide/"><i class="fas fa-arrow-circle-right"></i>Click here and we'll take you to our Ultimate Guide</a>
          </div>
        </div>
      </div>
      <!-- / End Single Service -->
      <!-- Start Single Service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fab fa-canadian-maple-leaf"></i>
            <h9 class="titleexclusiveservices">This broad term incorporates also businesses</h3>
          </div>
          <div class="part-2">
            <p class="descriptionexclusive">We are also capable of doing work on a larger scale, also for businesses.
              Check below for our sizes chart.
            </p>
            <br>
            <a href="/casablanca/"><i class="fas fa-arrow-circle-right"></i>See our sizes chart</a>
          </div>
        </div>
      </div>
      <!-- / End Single Service -->
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<!--OVER EXCLUSIVE SERVICES-->
<!-- SLIDESHOW INDEX-->
<p class="line-break margin-top-10"></p>
<div class="upgradetext">
  <h4>our projects</h4>
  <br>
  <br>
<section class="slideshow" id="js-header">
  <div class="slideshow__slide js-slider-home-slide is-current" data-slide="1">
    <div class="slideshow__slide-background-parallax background-absolute js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
      <div class="slideshow__slide-background-load-wrap background-absolute">
        <div class="slideshow__slide-background-load background-absolute">
          <div class="slideshow__slide-background-wrap background-absolute">
            <div class="slideshow__slide-background background-absolute">
              <div class="slideshow__slide-image-wrap background-absolute">
                <div class="slideshow__slide-image background-absolute" style="background-image:url(https://www.selt.com/images/galeria/02_markizy/1_Tarasowe/07_dom_szeregowy_londyn/2012_09_Palladio_Dom_Szeregowy_W_wa_03.jpg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="side-nav vh-for-mobile" data-view="cover">
      <ul>
        <li class="label" data-view="cover">Our projects</li>
      </ul>
    </div>
    <div class="slideshow__slide-caption">
      <div class="slideshow__slide-caption-text">
        <div class="container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
          <h8 class="slideshow__slide-caption-title">London terraced house</h8>
          <p class="slideshow__slide-caption-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus odio sed leo fermentum, sed faucibus massa eleifend. Pellentesque ut auctor tellus. Vivamus eget vestibulum urna, sit amet aliquet augue.</p><a class="slideshow__slide-caption-subtitle -load o-hsub -link" href="/awnings"><span class="slideshow__slide-caption-subtitle-label">View Awnings</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="slideshow__slide js-slider-home-slide is-next" data-slide="2">
    <div class="slideshow__slide-background-parallax background-absolute js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
      <div class="slideshow__slide-background-load-wrap background-absolute">
        <div class="slideshow__slide-background-load background-absolute">
          <div class="slideshow__slide-background-wrap background-absolute">
            <div class="slideshow__slide-background background-absolute">
              <div class="slideshow__slide-image-wrap background-absolute">
                <div class="slideshow__slide-image background-absolute" style="background-image: url(https://www.selt.com/images/galeria/02_markizy/1_Tarasowe/12_villa_warszawa/2012_09_Dakar_Villa_W_wa_13.jpg);"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="side-nav vh-for-mobile" data-view="cover">
      <ul>
        <li class="label" data-view="cover">Works</li>
      </ul>
    </div>
    <div class="slideshow__slide-caption">
      <div class="slideshow__slide-caption-text">
        <div class="container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
          <h8 class="slideshow__slide-caption-title">Villa Dakar</h8>
          <p class="slideshow__slide-caption-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus odio sed leo fermentum, sed faucibus massa eleifend. Pellentesque ut auctor tellus. Vivamus eget vestibulum urna, sit amet aliquet augue.</p><a class="slideshow__slide-caption-subtitle -load o-hsub -link" href="/awnings"><span class="slideshow__slide-caption-subtitle-label">View Awnings</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="slideshow__slide js-slider-home-slide is-prev" data-slide="3">
    <div class="slideshow__slide-background-parallax background-absolute js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
      <div class="slideshow__slide-background-load-wrap background-absolute">
        <div class="slideshow__slide-background-load background-absolute">
          <div class="slideshow__slide-background-wrap background-absolute">
            <div class="slideshow__slide-background background-absolute">
              <div class="slideshow__slide-image-wrap background-absolute">
                <div class="slideshow__slide-image background-absolute" style="background-image: url(https://www.selt.com/images/galeria/02_markizy/2_Balkonowe/02_dom_mieszkalny_opole/2006_06_Italia_Kasetowa_Dom_Opole_03.jpg);"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="side-nav vh-for-mobile" data-view="cover">
      <ul>
        <li class="label" data-view="cover">Works</li>
      </ul>
    </div>
    <div class="slideshow__slide-caption">
      <div class="slideshow__slide-caption-text">
        <div class="container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
          <h8 class="slideshow__slide-caption-title">Residential house</h8>
          <p class="slideshow__slide-caption-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus odio sed leo fermentum, sed faucibus massa eleifend. Pellentesque ut auctor tellus. Vivamus eget vestibulum urna, sit amet aliquet augue.</p><a class="slideshow__slide-caption-subtitle -load o-hsub -link" href="/awnings"><span class="slideshow__slide-caption-subtitle-label">View Awnings</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="c-header-home_footer">
    <div class="o-container">
      <div class="c-header-home_controls -nomobile o-button-group">
        <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header">
          <button class="js-slider-home-next floating-btn ripple" type="button">
            <svg class="o-button_icon" role="img">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-next"></use>
            </svg>
          </button>
          <button class="js-slider-home-prev floating-btn ripple" type="button">
            <svg class="o-button_icon" role="img">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-prev"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
<div>
<svg xmlns="http://www.w3.org/2000/svg">
  <symbol id="arrow-prev" viewbox="0 0 492 492" xmlns="http://www.w3.org/2000/svg">
    <path d="M198.608 246.104L382.664 62.04c5.068-5.056 7.856-11.816 7.856-19.024 0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12C361.476 2.792 354.712 0 347.504 0s-13.964 2.792-19.028 7.864L109.328 227.008c-5.084 5.08-7.868 11.868-7.848 19.084-.02 7.248 2.76 14.028 7.848 19.112l218.944 218.932c5.064 5.072 11.82 7.864 19.032 7.864 7.208 0 13.964-2.792 19.032-7.864l16.124-16.12c10.492-10.492 10.492-27.572 0-38.06L198.608 246.104z"></path>
  </symbol>
  <symbol id="arrow-next" viewbox="0 0 492.004 492.004" xmlns="http://www.w3.org/2000/svg">
    <path d="M382.678 226.804L163.73 7.86C158.666 2.792 151.906 0 144.698 0s-13.968 2.792-19.032 7.86l-16.124 16.12c-10.492 10.504-10.492 27.576 0 38.064L293.398 245.9l-184.06 184.06c-5.064 5.068-7.86 11.824-7.86 19.028 0 7.212 2.796 13.968 7.86 19.04l16.124 16.116c5.068 5.068 11.824 7.86 19.032 7.86s13.968-2.792 19.032-7.86L382.678 265c5.076-5.084 7.864-11.872 7.848-19.088.016-7.244-2.772-14.028-7.848-19.108z"></path>
  </symbol>
</svg>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<!-- OVER SLIDESHOW INDEX-->









      <br>
      <br>
      <br>
      <br>
        <section>
          <div class="parallax-two">
            <h2>Protect yourself and family</h2>
            <h2>from sun and rain.</h2>
          </div>
        </section>
        <br>
        <br>
        <br>
        <br>
          <p class="line-break margin-top-10"></p>
          <h4>Our awnings</h4>
          <h4>provide optical and thermal comfort.</h4>
          <br>
          <br>
          <p>Water droplets pick up dirt particles and run off the awning cover</p>
          <p>taking the dirt with them ensuring you can enjoy your beautiful fabric</p>
          <p>for a long time to come.</p>
          <br>
          <br>
          <br>
      </div>

<p>Terrace awnings serve not only as protection </p>
<br>
<p>but also as a unique decoration with the highest quality components.</p>
<br>
<p>Perfect for both residential and commercial use.</p>
<br>
<br>
<div class="happytohelpimg">
  <img src="/img/customer-care.png" alt="">
</div>
<p class="line-break margin-top-10"></p>
<h4>Always happy to help!</h4>
<br>
<br>
<p>We understand how important costumer service and help is needed i many factors,</p>
<br>
<p>thats why we are always happy to talk to You and bring you all necessary knowledge you may ask for.</p>
<br>
<p>Please see our <a href="/ultimateguide" style="color: black;"> Ultimate Guide</a> which we update frequently,</p>
<br>
<p>so please ask as we always try to provide the best costumer experience in all factors.</p>
<br>
<p>But if you need immediate help don't hesitate and please call us on</p>
<br>
<p style="text-decoration: underline;">01202 022365</p>
<br>
<p>talk to us thru facebook chat!</p>
<br>
<br>
<br>
<br>
<div class="linebreak">
  <p class="line-break margin-top-10"></p>
</div>
<div class="favouritecolorstext">
  <h4>Favorite colors of our clients.</h4>
</div>
<!-- 3D jobdoneslideshow Section --> 
<div class="threedcarousel">
  <section id="jobdoneslideshow">
    <div class="jobdoneslideshowclass">
      <div class="content-carrousel">
        <figure class="shadow"><img src="/images/fabrics colors/2016__argentina.jpg"></figure>
        <figure class="shadow"><img src="/images/fabrics colors/4655__ladakh.jpg"/></figure>
        <figure class="shadow"><img src="/images/fabrics colors/8854__marseille__flame.jpg"/></figure>
        <figure class="shadow"><img src="/images/fabrics colors/3882__ravenna.jpg"/></figure>
        <figure class="shadow"><img src="/images/fabrics colors/3605__palermo.jpg"/></figure>
        <figure class="shadow"><img src="/images/fabrics colors/2210__rioja.jpg"/></figure>
        <figure class="shadow"><img src="/images/fabrics colors/2174__new__york.jpg"/></figure>
        <figure class="shadow"><img src="/images/fabrics colors/2080__dakar.jpg"/></figure>
        <figure class="shadow"><img src="/images/fabrics colors/0507__stitch__ruby.jpg"/></figure>
      </div>
    </div>
  </section>
</div>
<div class="images-home-sponsors-raw">

  <div class="column-images-home-sponsors">
    <div class="rtslogoimg">
      <img src="/img/RTS logo.jpg" alt="">
    </div>
  </div>
  <div class="column-images-home-sponsors">
    <div class="dicksonlogoimg">
      <img src="/img/DICKSON.png" alt="">
    </div>
  </div>
  <div class="column-images-home-sponsors">
    <div class="somfylogoimg">
      <img src="/img/somfy-logo.png" alt="">
    </div>
  </div>
  <div class="column-images-home-sponsors">
    <div class="nicemotorslogoimg">
      <img src="/img/NIceMotors-Logo-small.png" alt="">
    </div>
  </div>
</div>

<!-- MY FOOTER-->
<footer class="myfooter">
  <div class="myrowfooter">
    <div class="columnfooter left1">
      <div class="footerheader">
          <h8>English Awnings Direct</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1">www.EnglishAwningsDirect.com</li>
        <li class="listyle1">United Kingdom, Dorset</li>
        <li class="listyle1">Unit 6 West Howe Industrial Estate</li>
        <li class="listyle1">Elliot road</li>
        <li class="listyle1">BH11 8JX</li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left2">
      <div class="footerheader">
          <h8>Awnings</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1"><a href="/casablanca/">Casablanca cassette</a></li>
        <li class="listyle1"><a href="/corsica/">Corsica cassette</a></li>
        <li class="listyle1"><a href="/palladio/">Palladio cassette</a></li>
        <li class="listyle1"><a href="/silverplus/">Silver plus</a></li>
        <li class="listyle1"><a href="/boxitalia/">Italia sun blind</a></li>
        <li class="listyle1"><a href="/bora/">Bora</a></li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left3">
      <div class="footerheader">
          <h8>Features</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1"><a href="/color-pallet/">Fabric colour pallet</a></li>
        <li class="listyle1"><a href="/about/">Quality</a></li>
        <li class="listyle1"><a href="/about/#demo">Style</a></li>
        <li class="listyle1"><a href="/about/#ease">Ease</a></li>
        <li class="listyle1"><a href="/about/#features">Adjustment</a></li>
        <li class="listyle1"><a href="/about/#howto">About Us</a></li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left4">
      <div class="footerheader">
          <h8>Follow us</h8>
      </div>
          <ul class="liststyle">
            <div class="social-network social-circle">
              <li class="listyle1"><a href="https://www.facebook.com/English-Awnings-Direct-101963445787288" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            </div>
            <br>
            <li class="listyle1"><a href="/cookiepolicy/">Privacy Policy</a></li>
            <li class="listyle1"><a href="/terms&conditions/">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="columnfooter-bottomfooter">
    <div class="col-md-12 copy">
        <p class="text-center-footer">&copy; Copyright 2022 - English Awnings Direct.  All rights reserved.</p>
    </div>
  </div>
</footer>
<!-- FOOTER OVER-->


                <!--FACEBOOK CHAT START-->
                <div id="fb-root"></div>
                <!-- Your Chat plugin code -->
                <div id="fb-customer-chat" class="fb-customerchat">
                </div>
                
                <script>
                  var chatbox = document.getElementById('fb-customer-chat');
                  chatbox.setAttribute("page_id", "101963445787288");
                  chatbox.setAttribute("attribution", "biz_inbox");
                </script>
                
                <!-- Your SDK code -->
                <script>
                  window.fbAsyncInit = function() {
                    FB.init({
                      xfbml            : true,
                      version          : 'v13.0'
                    });
                  };
                
                  (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                </script>
                <!--FACEBOOK CHAT OVER-->

            <script>
                var closebtns = document.getElementsByClassName("close");
                var i;
                
                for (i = 0; i < closebtns.length; i++) {
                  closebtns[i].addEventListener("click", function() {
                    this.parentElement.style.display = 'none';
                  });
                }
                </script>
                <script>
                  const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container1 = document.getElementById('container1');
        
        signUpButton.addEventListener('click', () => {
            container1.classList.add("right-panel-active");
        });
        
        signInButton.addEventListener('click', () => {
            container1.classList.remove("right-panel-active");
        });
                </script>

<!--Link to JS CART-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-222500318-1"></script>
<!--BEST SELLERS-->
<script src="/js/bestsells.json"></script>
<!--SCRIPT FOR LETTER SUBSCRIBE -->
<script src="https://kit.fontawesome.com/0e66a92efa.js" crossorigin="anonymous"></script>
<!-- SCRIPT SLIDESHOW INDEX-->
<script src="/js/slideshowindex.js"></script>
<!-- START JS TOP MENU-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="/js/topmenuscript.js"></script>
<!-- OVER JS TOP MENU-->
<script src="/order.js"></script>
<!-- PAYMENT-->
<script src="/server.js"></script>
<!-- FRESHMENU-->
<script  src="/js/topmenurespo.js"></script>


</body>
</html>