<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="https://scontent-lcy1-1.xx.fbcdn.net/v/t39.30808-6/276062963_111075821542717_3691481390296484530_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=acusAwlB-tUAX-t9yHb&_nc_ht=scontent-lcy1-1.xx&oh=00_AT-HqLxoyXHs18H6YqR2_8nUdefN7PPZFb3UY8WZlx1pmw&oe=624FF685">
<!-- MY STYLES-->
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/responsiveimg.css">
<link rel="stylesheet" href="/css/footer.css">
<!-- link ro interactive shop-->
<link rel="stylesheet" href="/css/style.css" />
<!---->
<link rel="stylesheet" href="/css/style1.css"> 
    
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

<!--Usage as font-->
<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />


<!--SLIDE SHOW INDEX-->
<link rel="stylesheet" href="css/slideshowindex.css">

<!-- FONT CSS MAIN STYLE-->
<link rel="stylesheet" href="/css/fontstyle.css">
<!--FONT CSS RESPONSIVE STYLE-->
<link rel="stylesheet" href="/css/fontresponsive.css">
<!--ACCESSORIES-->
<link rel="stylesheet" href="/css/newaccess.css">
<!-- FRESH MENU -->
<link rel="stylesheet" href="/css/topmenurespo.css">
    <style>
                @import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
  /*
Basic input element using psuedo classes
*/
.active {
  background: rgba(255, 255, 255, 0.9);
}
/* Question */
input.question,
textarea.question {
  font-size: 30px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: #a46497(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */
input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 5px;
  margin: 0;
  width: 20%;
  border-top: 1.5px solid #a46497;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}
input.question:focus + label,
textarea.question:focus + label {
  width: 60%;
}
input.question:focus,
input.question:valid {
  padding-top: 35px;
}
textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}
input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #a46497;
}
textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #a46497;
}
input.question:valid + label,
textarea.question:valid + label {
  border-color: #7e1b97;
}
input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}
input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin-left: -480px;
  position: absolute;
  color: #a46497;
  font-size: 30px;
  top: -100px;
  left: 450px;
  z-index: 0;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}
input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}
@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  100% {
    opacity: 1;
  }
}


</style>
<title>English Awnings Direct - Nemo red Motor</title>
<head>
  <%- include('partials/cookies'); -%>
<!--START MENU-->
<header id="header">
  <div class="brand containermenutopfresh"><a class="logo" href="/" rel="home">English Awnings Direct</a><a class="logo1" href="/" rel="home" style="text-decoration:none;">-</a> <span class="tagline">Relax with us</span></div>
  <nav class="nav containermenutopfresh" id="nav">
    <ul class="menu">
      <li class="menu-item"><a href="/">home</a></li>
      <li class="menu-item"><a href="/about">about</a></li>
      <li class="menu-item"><a href="#">Products</a>
        <ul class="sub-menu">
          <li class="biggersub"><a href="/awnings">Awnings</a>
            <ul class="sub-menu">
              <li><a href="/casablanca/" class="alinkmenu">Casablanca</a></li>
              <li><a href="/corsica/" class="alinkmenu">Corsica</a></li>
              <li><a href="/palladio/" class="alinkmenu">Palladio</a></li>
              <li><a href="/Silverplus/" class="alinkmenu">Silver plus</a></li>
              <li><a href="/boxitalia/" class="alinkmenu">Italia</a></li>
              <li><a href="/bora/" class="alinkmenu">Bora</a></li>
            </ul>
          </li>
          <li class="biggersub"><a href="/accessories">Accessories</a>
            <ul class="sub-menu">
              <li><a href="/nemored/" class="alinkmenu">Motor nemo red</a></li>
              <li><a href="/nemoyellow/" class="alinkmenu">Motor nemo yellow</a></li>
              <li><a href="/eolis/" class="alinkmenu">Eolis</a></li>
              <li><a href="/soliris/" class="alinkmenu">Soliris</a></li>
              <li><a href="/shock/" class="alinkmenu">Shock</a></li>
              <li><a href="/somfycontroller/" class="alinkmenu">Somfy controller</a></li>
              <li><a href="/crank/" class="alinkmenu">Crank</a></li>
              <li><a href="/fabric1x1/" class="alinkmenu">Fabrics</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="/color-pallet">Fabric colours</a>
      <li class="menu-item"><a href="">Guide</a>
        <ul class="sub-menu">
          <li><a href="/brackets/">Bracket types</a>
          </li>
          <li><a href="/ultimateguide/">Ultimate guide</a>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="/contact-us">Contact</a>
      </li>
      <li><a href="#" class=""><i class="fa fa-search"></i></a></li>
      <li><a href="https://www.facebook.com/EnglishAwningsDirect/" target="_blank"><i class=" menufont fa fa-facebook head-social-link"></i></a></li>
        <!--Cart icon-->
        <li class=" m-hidden card-right"><i class=" bx bx-shopping-bag cart-icon"></i></li>
      </li>
    </ul>
  </nav>
</header>
</head>
    
<body>
  <form action="/payment/" method="get">
    <div class="cart">
      <h2 class="cart-title">Your cart</h2>
      <!--Content -->
      <div class="cart-content">
      </div>
      <!--Total-->
      <div class="total">
        <div class="total-title">Total</div>
        <input style="display:none" id="price" name="price" class="total-price"/>
      </div>
      <!--But button-->
      <button type="submit" class="btn-buy">Buy now</button>
      <i class='bx bx-x' id="close-cart"></i>
      </div>
    </form>
</div>
<div class="containeraccessories">
  <!-- / .topnav -->
  <br>
  <br>
  <br>
  <section class="banner">
    <div class="slide">
      <div class="descriptionaccessories">
        <div class="nameaccessorie">
          <h9>Motor nemo red</h9>
        </div>
        <div class="descriptionsensor">
          <p>Nemo RED series motors have a built-in radio receiver, electronically adjustable positions</p>
          <p>end limits and the function of automatic fabric tension.</p> 
          <p>The engine is controlled by the remote control.</p>
          <p>Nemo RED series motors can store up to 20 different transmitters in the memory.</p>
          <br>
          <br>
          <div class="accordion_wrap" id="accordion-details">
						<h2>Details & specifications</h2>
								<div class="accordion-content-block">
									
										<button class="d-flex align-items-center accordion-item-title subtitle_2" role="link" data-toggle="collapse" href="#detailsCollapse" aria-expanded="false" aria-controls="detailsCollapse">
											
                      Technology
											<span class="arrow-icon"></span>
										</button>
									
									<div data-parent="#accordion-details" class="accordion-item-content collapse show" id="detailsCollapse" style="">
										<br>
                    <ul>
                      <br>
                      <li>Radio frequency 433.925 MHz</li> <!--DONE-->
                      <li>Power consumption during operation 0.99A W</li><!--DONE-->
                      <li>Integrated aerial</li><!--DONE-->
                      <li>Nominal Voltage / Frequency 230V</li><!--DONE-->
                      <li>Electonic limit switches</li><!--DONE-->
                      <li>Nominal torque 40 Nm</li><!--DONE-->
                      <li>Nominal speed 15 rpm</li><!--DONE-->
                      <li>Noise level 70 dBA</li><!--DONE-->
                    </ul>
									</div>
								</div>
					</div>
        </div>
      </div>
      <div class="nemored-shop">
        <!--shop-->
        <section class="shop container">
          <!--Content-->
          <div class="shop-content">
            <!--Box 1-->
            <div class="product-box">
              <div class="img-accesorrie-buy">
                <img src="/img/accessories/nemored.jpg" alt="" class="product-img">
              </div>  
              <h2 class="product-title">Nemo red</h2>
              <span class="price">£229</span>
              <i class='bx bx-shopping-bag add-cart'></i>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!-- / .banner -->
</div>
<!-- MY FOOTER-->
<footer class="myfooter">
  <div class="myrowfooter">
    <div class="columnfooter left1">
      <div class="footerheader">
          <h8>English Awnings Direct</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1">www.EnglishAwningsDirect.com</li>
        <li class="listyle1">United Kingdom, Dorset</li>
        <li class="listyle1">Unit 6 West Howe Industrial Estate</li>
        <li class="listyle1">Elliot road</li>
        <li class="listyle1">BH11 8JX</li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left2">
      <div class="footerheader">
          <h8>Awnings</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1"><a href="/casablanca/">Casablanca cassette</a></li>
        <li class="listyle1"><a href="/corsica/">Corsica cassette</a></li>
        <li class="listyle1"><a href="/palladio/">Palladio cassette</a></li>
        <li class="listyle1"><a href="/silverplus/">Silver plus</a></li>
        <li class="listyle1"><a href="/boxitalia/">Italia sun blind</a></li>
        <li class="listyle1"><a href="/bora/">Bora</a></li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left3">
      <div class="footerheader">
          <h8>Features</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1"><a href="/color-pallet/">Fabric colour pallet</a></li>
        <li class="listyle1"><a href="/about/">Quality</a></li>
        <li class="listyle1"><a href="/about/#demo">Style</a></li>
        <li class="listyle1"><a href="/about/#ease">Ease</a></li>
        <li class="listyle1"><a href="/about/#features">Adjustment</a></li>
        <li class="listyle1"><a href="/about/#howto">About Us</a></li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left4">
      <div class="footerheader">
          <h8>Follow us</h8>
      </div>
          <ul class="liststyle">
            <div class="social-network social-circle">
              <li class="listyle1"><a href="https://www.facebook.com/English-Awnings-Direct-101963445787288" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            </div>
            <br>
            <li class="listyle1"><a href="/cookiepolicy/">Privacy Policy</a></li>
            <li class="listyle1"><a href="/terms&conditions/">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="columnfooter-bottomfooter">
    <div class="col-md-12 copy">
        <p class="text-center-footer">&copy; Copyright 2022 - English Awnings Direct.  All rights reserved.</p>
    </div>
  </div>
</footer>
<!-- FOOTER OVER-->
                <!--FACEBOOK CHAT START-->
                <div id="fb-root"></div>
                <!-- Your Chat plugin code -->
                <div id="fb-customer-chat" class="fb-customerchat">
                </div>
                
                <script>
                  var chatbox = document.getElementById('fb-customer-chat');
                  chatbox.setAttribute("page_id", "101963445787288");
                  chatbox.setAttribute("attribution", "biz_inbox");
                </script>
                
                <!-- Your SDK code -->
                <script>
                  window.fbAsyncInit = function() {
                    FB.init({
                      xfbml            : true,
                      version          : 'v13.0'
                    });
                  };
                
                  (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                </script>

<!--Link to JS CART-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-222500318-1"></script>
<!--BEST SELLERS-->
<script src="/js/bestsells.json"></script>
<!--SCRIPT FOR LETTER SUBSCRIBE -->
<script src="https://kit.fontawesome.com/0e66a92efa.js" crossorigin="anonymous"></script>
<!-- SCRIPT SLIDESHOW INDEX-->
<script src="/js/slideshowindex.js"></script>
<!-- START JS TOP MENU-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="/js/topmenuscript.js"></script>
<!-- OVER JS TOP MENU-->
<script src="/order.js"></script>
<script  src="/js/topmenurespo.js"></script>

</body>
</html>  