<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Replicating a WordPress theme w/ flex+grid</title>
  <meta name='viewport' content='initial-scale=1, viewport-fit=cover'><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/public/css/newaccess.css">

</head>
<body>

<div class="container">
  <section class="banner">
    <div class="slide">
      <div class="description">
        <h9>Premium comfort</h9>
        <p>"Sometimes the smallest step in the right direction ends up being the biggest step of your life"</p>
        <p>Steve Maraboli</p>
      </div>
      <div class="somfycontrolleraccesorieimg"><img src="/public/img/accessories/somfy controller.png" width="500"></div>
    </div>
  </section>
  <!-- / .banner -->

  <section class="shop-items">

    <div class="shop-item">
      <a href="/crank/" class="shop-item--container">
        <div class="meta">
          <span class="tag"></span>
          <span class="discount"></span>
        </div>
        <img src="/public/img/accessories/crank motor handle.jpg" width="300">
      </a>
      <div class="title">
        <h3><a href="#">Crank</a></h3>
      </div>
      <div class="price"><span>£24</span></div>
    </div>
    <!-- ./shop-item -->

    <div class="shop-item">
      <a href="/nemored/" class="shop-item--container">
        <div class="meta">
          <span class="tag"></span>
          <span class="discount"></span>
        </div>
        <img src="/public/img/accessories/nemored.jpg" width="300">
      </a>
      <div class="title">
        <h3><a href="/nemored/">Motor NEMO red</a></h3>
      </div>
      <div class="price"><span>£229</span></div>
    </div>
    <!-- ./shop-item -->

    <div class="shop-item">
      <a href="/eolis/" class="shop-item--container">
        <div class="meta">
          <span class="tag"></span>
          <span class="discount"></span>
        </div>
        <img src="/public/img/accessories/Eolis.jpeg" width="300">
      </a>
      <div class="title">
        <h3><a href="/eolis/">Eolis Wind sensor</a></h3>
      </div>
      <div class="price"><span>£132</span></div>
    </div>
    <!-- ./shop-item -->

    <div class="shop-item">
      <a href="/soliris/" class="shop-item--container">
        <div class="meta">
          <span class="tag"></span>
          <span class="discount"></span>
        </div>
        <img src="/public/img/accessories/soliris2.jpg" width="300">
      </a>
      <div class="title">
        <h3><a href="/soliris/">Soliris Wind & Sun sensor</a></h3>
      </div>
      <div class="price"><span>£164</span></div>
    </div>
    <!-- ./shop-item -->

    <div class="shop-item">
      <a href="/nemoyellow/" class="shop-item--container">
        <div class="meta">
          <span class="tag"></span>
          <span class="discount"></span>
        </div>
        <img src="/public/img/accessories/nemoyellow.jpg" width="300">
      </a>
      <div class="title">
        <h3><a href="/nemoyellow/">Motor NEMO yellow</a></h3>
      </div>
      <div class="price"><span>£399</span></div>
    </div>
    <!-- ./shop-item -->

    <div class="shop-item">
      <a href="/shock/" class="shop-item--container">
        <div class="meta">
          <span class="tag"></span>
          <span class="discount"></span>
        </div>
        <img src="/public/img/accessories/Shock.jpg" width="300">
      </a>
      <div class="title">
        <h3><a href="/shock/">Wind & Shock sensor</a></h3>
      </div>
      <div class="price"><span>£69</span></div>
    </div>
    <!-- ./shop-item -->

    <div class="shop-item">
      <a href="/fabric1x1/" class="shop-item--container">
        <div class="meta">
          <span class="tag"></span>
          <span class="discount"></span>
        </div>
        <img src="/public/img/perla-fr.jpg" width="300">
      </a>
      <div class="title">
        <h3><a href="/fabric1x1/">Fabrics 1 x 1</a></h3>
      </div>
      <div class="price"><span>Price in a quotation</span></div>
    </div>
    <!-- ./shop-item -->

    <div class="shop-item">
      <a href="#" class="shop-item--container">
        <div class="meta">
          <span class="tag"></span>
          <span class="discount"></span>
        </div>
        <img src="/public/img/somfy controller.png" width="100">
      </a>
      <div class="title">
        <h3><a href="#">Somfy Controller</a></h3>
      </div>
      <div class="price"><span>$160</span></div>
    </div>
  </section>
</div>
</body>
</html>
