<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Furniture Store (dribbble shot by Jekin Gala)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=PT+Serif:700|Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/public/css/nemoyellow.css">
<!--MINE-->
<link rel="shortcut icon" href="https://scontent-lcy1-1.xx.fbcdn.net/v/t39.30808-6/276062963_111075821542717_3691481390296484530_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=acusAwlB-tUAX-t9yHb&_nc_ht=scontent-lcy1-1.xx&oh=00_AT-HqLxoyXHs18H6YqR2_8nUdefN7PPZFb3UY8WZlx1pmw&oe=624FF685">
<!-- MY STYLES-->
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/responsiveimg.css">
<link rel="stylesheet" href="/css/footer.css">

<!--3D carrousel-->
<link rel="stylesheet" href="/css/3dcarrousel.css">
<!--BEST SELLERS + ADDITIONAL 10%-->
<link rel="stylesheet" href="/css/bestsellers.css">
<!-- link to interactive shop-->
<link rel="stylesheet" href="/css/style.css" />
<!---->
<link rel="stylesheet" href="/css/style1.css"> 
    
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

<!--Usage as font-->
<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />


<!--SLIDE SHOW INDEX-->
<link rel="stylesheet" href="css/slideshowindex.css">

<!-- FONT CSS MAIN STYLE-->
<link rel="stylesheet" href="/css/fontstyle.css">
<!--FONT CSS RESPONSIVE STYLE-->
<link rel="stylesheet" href="/css/fontresponsive.css">
<!-- NEWMENU -->
<link rel="stylesheet" href="/css/topmenurespo.css">
</head>
<body>
<header class="header" data-menustate="closed">
	<div class="grid-item  grid-item--primary">
		<img src="/public/img/accessories/nemoyellow.jpg" class="object-fit">
		<a href="#" class="logo">
			<h1>Motor nemo yellow</h1>
		</a>
	</div>
	<div class="grid-item grid-item--secondary  grid-item--content">
		<article class="article  article--align-right">
			<h5 class="rotate rotate--right">Made in<br/>EU</h5>
		</article>
		<article class="article">
			<h4><span>1994</span> <span>2022</span></h4>
			<h2>Motor nemo yellow</h2>
			<p>A radio drive system specially developed for cassette awnings, with a patented integrated radio antenna.</p>
			<p>Innovative soft close function.</p>
		</article>
	</div>
	<div class="grid-item grid-item--secondary">
		<img src="/public/img/a_DSC00160.jpeg" class="object-fit" alt="chair">
	</div>
	<div class="grid-item grid-item--tertiary">
		<img src="/public/img/awnings_03.jpg" class="object-fit" alt="chair">
	</div>
	<div class="grid-item grid-item--tertiary grid-item--content">
		<article class="article">
			<p><a href="#">Subscribe</a></p>
		</article>
	</div>
	<div class="grid-item grid-item--tertiary">
		<img src="/public/img/awnings_03.jpg" class="object-fit" alt="chair">
	</div>
</header>

<div class="loading-overlay">
	<span class="loading-overlay__content h1">Motor nemo yellow</span>
</div>
<!-- partial -->
  <script  src="/public/js/nemoyellow.js"></script>

</body>
</html>
