<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="https://scontent-lcy1-1.xx.fbcdn.net/v/t39.30808-6/276062963_111075821542717_3691481390296484530_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=acusAwlB-tUAX-t9yHb&_nc_ht=scontent-lcy1-1.xx&oh=00_AT-HqLxoyXHs18H6YqR2_8nUdefN7PPZFb3UY8WZlx1pmw&oe=624FF685">
<!-- MY STYLES-->
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/responsiveimg.css">
<link rel="stylesheet" href="/css/footer.css">
<!-- link ro interactive shop-->
<link rel="stylesheet" href="/css/style.css" />
<!---->
<link rel="stylesheet" href="/css/style1.css"> 
    
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

<!--Usage as font-->
<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />


<!--SLIDE SHOW INDEX-->
<link rel="stylesheet" href="css/slideshowindex.css">

<!-- FONT CSS MAIN STYLE-->
<link rel="stylesheet" href="/css/fontstyle.css">
<!--FONT CSS RESPONSIVE STYLE-->
<link rel="stylesheet" href="/css/fontresponsive.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<!--NAVIGATION AWNINGS LEFT MENU-->
<link rel="stylesheet" href="/css/navbarleft.css">
<!-- FRESH MENU -->
<link rel="stylesheet" href="/css/topmenurespo.css">

<style>
 @import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
</style>

<title>English Awnings Direct - Ultimate Guide</title>
<head>
  <%- include('partials/cookies'); -%>
<!--START MENU-->
<header id="header">
  <div class="brand containermenutopfresh"><a class="logo" href="/" rel="home">English Awnings Direct</a><span class="tagline">Relax with us</span></div>
  <nav class="nav containermenutopfresh" id="nav">
    <ul class="menu">
      <li class="menu-item"><a href="/">home</a></li>
      <li class="menu-item"><a href="/about">about</a></li>
      <li class="menu-item"><a href="#">Products</a>
        <ul class="sub-menu">
          <li class="biggersub"><a href="/awnings">Awnings</a>
            <ul class="sub-menu">
              <li><a href="/casablanca/" class="alinkmenu">Casablanca</a></li>
              <li><a href="/corsica/" class="alinkmenu">Corsica</a></li>
              <li><a href="/palladio/" class="alinkmenu">Palladio</a></li>
              <li><a href="/Silverplus/" class="alinkmenu">Silver plus</a></li>
              <li><a href="/boxitalia/" class="alinkmenu">Italia</a></li>
              <li><a href="/bora/" class="alinkmenu">Bora</a></li>
            </ul>
          </li>
          <li class="biggersub"><a href="/accessories">Accessories</a>
            <ul class="sub-menu">
              <li><a href="/nemored/" class="alinkmenu">Motor nemo red</a></li>
              <li><a href="/nemoyellow/" class="alinkmenu">Motor nemo yellow</a></li>
              <li><a href="/eolis/" class="alinkmenu">Eolis</a></li>
              <li><a href="/soliris/" class="alinkmenu">Soliris</a></li>
              <li><a href="/shock/" class="alinkmenu">Shock</a></li>
              <li><a href="/somfycontroller/" class="alinkmenu">Somfy controller</a></li>
              <li><a href="/crank/" class="alinkmenu">Crank</a></li>
              <li><a href="/fabric1x1/" class="alinkmenu">Fabrics</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="/color-pallet">Fabric colours</a>
      <li class="menu-item"><a href="">Guide</a>
        <ul class="sub-menu">
          <li><a href="/brackets/">Bracket types</a>
          </li>
          <li><a href="/ultimateguide/">Ultimate guide</a>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="/contact-us">Contact</a>
      </li>
      <li><a href="#" class=""><i class="fa fa-search"></i></a></li>
      <li><a href="https://www.facebook.com/EnglishAwningsDirect/" target="_blank"><i class=" menufont fa fa-facebook head-social-link"></i></a></li>
        <!--Cart icon-->
        <li class=" m-hidden card-right"><i class=" bx bx-shopping-bag cart-icon"></i></li>
      </li>
    </ul>
  </nav>
</header>
  </head>
      
  <body>
    <form action="/payment/" method="get">
      <div class="cart">
        <h2 class="cart-title">Your cart</h2>
        <!--Content -->
        <div class="cart-content">
        </div>
        <!--Total-->
        <div class="total">
          <div class="total-title">Total</div>
          <input style="display:none" id="price" name="price" class="total-price"/>
        </div>
        <!--But button-->
        <button type="submit" class="btn-buy">Buy now</button>
        <i class='bx bx-x' id="close-cart"></i>
        </div>
      </form>
  </div>
<br>
<br>
<br>
<br>
<br>
<p class="line-break margin-top-10"></p>
<h4>Ultimate Guide</h4>
<br>
<br>
<!--WHAT ARE AWNINGS FOR ?>-->
<h2>1. What are awnings for ?</h2>
<br>
<p>An awning by it's roof like cover will extend your roof extension to offer shade and shelter from sun, rain, wind or snow.</p>
<p>A custom retractable awning will block the sun's hear and harmful UV rays before they enter your house,</p>
<p>cooling your home more efficiently than blinds or drapes or any other indoor or outdoor decoraction.</p>
<br>
<br>
<p class="line-break margin-top-10"></p>
<h2>2. Why choose awnings?</h2>
<h2>Five huge advantages!</h2>
<br>
<br>
<!--REDUCE YOUR ENERGY COSTS-->
<h2 class="advantages">Reduce your Energy Costs</h2>
<br>
<p>A strategically mounted awning will help you save money and reduce your carbon footprint!</p>
<p>Frequently known as the unique air conditioner, an awning can decrease your electricity charges through up to 25%.</p>
<p>In iciness, close your retractable awning to allow the sun in so you can</p>
<p>enjoy the extra warm temperature and mild the sun offers.</p>
<br>
<!--LOW MAINTENANCE AND EASY CARE>-->
<h2 class="advantages">Low Maintenance and Easy Care</h2>
<p>English Awnings Direct offers the highest level of design and performance.</p>
<p>Featuring 100% acrylic fabrics, our awnings are mildew resistant and water repellent.</p>
<p>Your retractable awning is available in a wide range of colours and patterns,</p>
<p>so it will remain bright and beatiful for many years to come!</p>
<br>
<!-- YOU CAN ENHANCE THE LOOK AND FEEL OF YOUR HOME-->
<h2 class="advantages">You can enhance the look and feel of your home</h2>
<br>
<p>Retractable awnings are a great way to expand your seasonal living space while adding value to your home</p>
<p>without requiring expensive and inconvenient renovations.</p>
<p>Choosing the right location, style, fabric and colours is important to English Awnings Direct.</p>
<p>Every awning is costum designed and fabricated to order.</p>
<br>
<!--EVENING ENTERTAINING-->
<h2 class="advantages">Evening entertaining</h2>
<br>
<p>We all like savouring the long summer evenings during he summer.</p>
<p>So, even if the weather isn't scorching, a BBQ or a few drinks in the backyard with family and friends</p>
<p>is the ideal way to conclude a summer day.</p>
<p>Awnings give cover, allowing you to spend more time in the garden without being interrupted by the wind or a light shower.</p>
<br>
<!--PROTECT FURNISHING-->
<h2 class="advantages">Protect Furnishings</h2>
<br>
<p>For those of you who are fortunate enough to have a south-facing garden, the sun will shine for the most of the day.</p>
<p>However, furniture near south-facing indows may suffer from sun damage as a result of this.</p>
<p>An awning may provide shade for your-facing rooms, reducing the fading of your furnishings.</p>
<p>Awnings are especially popular with wide bilfold or patio doors that let a lot of light into the area.</p>
<br>
<!-- WHAT IS THE BEST WAY TO MEASURE AN AWN ING? -->
<p class="line-break margin-top-10"></p>
<h2>3. What is the best way to measure an awning?</h2>
<br>
<p>You'll need to acquire the 'A' measurement to make sure you can purchase an awning that fits your house properly.</p>
<p>The A measurement is the distance from the ground to the awning ralk of your house and black down to the ground.</p>
<br>
<br>
<!-- FILL UP MEASURING TIPS ADVICES-->




<!-- HOW TO CLEAN AN AWNING?-->
<p class="line-break margin-top-10"></p>
<h2>4. How to clean an Awning?</h2>
<br>
<h2 class="advantages">Follow these steps to mantain your canopy fabric:</h2>
<br>

    <p>1.Remove loose dirt with a brush</p>
    <p>2.Apply a cleaning solution of water and mild soap</p>
    <p>3.To clean, use a soft bristle brush</p>
    <p>4.Soak the fabric in the cleaning solution</p>
    <p>5.Make sure all soap residue is removed by throughly rinsing.</p>
    <p>6.Let it air dry</p>
<br>
<!--CAN AWNINGS BE POWER WASHED ?-->
<p class="line-break margin-top-10"></p>
<h2>5. Can awnings be power washed ?</h2>
<br>
<p>We strongly warns against washing your awning with a high-pressure cleaner.</p>
<p>Our recommendation is to use a mild soap or 303 fabric cleaner diluted in warm water.</p>
<br>
<!--CAN AWNINGS BE USED IN A RAIN?-->
<p class="line-break margin-top-10"></p>
<h2>6. Can awnings be used in a rain?</h2>
<br>
<p>Most awnings provide some kind of water protection, yet they aren't considered waterproof because</p>
<p>they can only withstand light rain. If your awning isn't constructed to withstand strong rains, it might be destroyed.</p>
<p>But don't worry, if you currently have an awning that isn't giving appropriate weather protection,</p>
<p>there are many of solutions like weather sensors.</p>
<p>Take a look at the many varietes of awnings on our site <a href="http://www.englishawningsdirect.com/">English Awnings Direct</a>.</p>
<p>We can also advise you on the finest materials for your needs also via our help line or online chat.</p>
<br>
<!--CAN AWNINGS WITHSTAND WIND ?-->
<p class="line-break margin-top-10"></p>
<h2>7. Can awnings withstand wind ?</h2>
<br>
<p>Most self-supported awnings are tested at wind of 20 to 25 miles per hour,</p>
<p>however this assumes a constant wind rather than a buffeting irregular wind, which is significantly more dangerous.</p>
<br>
<!--HOW DO YOU SECURE AWNING FROM STRONG WIND?-->
<p class="line-break margin-top-10"></p>
<h2>8. How do you secure awning from strong wind ?</h2>
<br>
<p>The best solution for strong wind protection is to install one of our wind sensor which automatically extends/retracts</p>
<p>a motorized awning based on wind and sunlight.</p>
<p>If winds are moderate you could consider an awning storm strap which hooks over the awning</p>
<p>and is pegged in at either side to pin the awning down.</p>
<br>
<!--CAN AWNINGS BE USED IN WINTER ?-->
<p class="line-break margin-top-10"></p>
<h2>9. Can awnings be used in winter ?</h2>
<br>
<p>Yes, our awnings can do that ! Retracable awnings provide ourdooor shelter and ultimate protection from winter inclementns.</p>
<p>They are long-lasting and resilient and may be used all year.</p>
<p>Our awnings allow you to keep your awing retracted or extanded all year, allowing you to keep your patio or deck free of snow.</p>
<p>Their sloped roof and solid metal construction are designed to whistand winds and keep snow</p>
<p>from collecting and weighing down on the canvas.</p>
<p>They also come with a waterproof vinyl or acrylic fabric canvas that may be used safely in the winter!</p>
<br>
<!--SNOW-->
<h2>Snow problem</h2>
<br>
<p>Any awning has the potential to be harmed by snow.</p>
<p>Snow may be accumulate swiftly throughout the winter months, from small snow showers to blizzards.</p>
<p>Snow accumulation on your awning may cause rips in the fabric, deform the frame,</p>
<p>and put a lot of strain on your awning in general.</p>
<br>
<!--SUN DAMAGE-->
<h2>Sun damage problem</h2>
<br>
<p>If your fabric has faded due to sun exposure, bursh if off to remove dirt</p>
<p>and then rinse it down with soap to prevent further fading.</p>
<br>
<!--FUNGUS OR MOLD-->
<h2>Fungus or mold problem</h2>
<br>
<p>Due to water and heat exposure, mould might form on your sunshade.</p>
<p>Spray the shade with a hose and use mildew remover to get rid of the fungus.</p>
<p>Make sure the shade isn't closed until it's entirely dry.</p>
<br>
<!--RIPS OR TEARS-->
<h2>Rips or tears problem</h2>
<br>
<p>If your canopy is ripped or damaged, you may replace the holes using patches or special adhesives.</p>
<p>To seal the rip, you can use a waterproof glue, but make sure to clip any threads first.</p>
<br>
<!--BEES AND PESTS-->
<h2>Bees and pests problem</h2>
<br>
<p>Another concern for your awning is bees and pests of any type.</p>
<p>They can build a nest in your reractable awning, causing extensive damage</p>
<p>or providing a safe heven for hazardous special to thrive.</p>
<p>Limiting food supply is the greatest approach to keep bugs away from your awning.</p>
<p>Sugary drinks, food and trash should never be left out in the open.</p>
<p>Use these pointers to keep your outdoor awning in good condition.</p>
<p>Because of the excellent materials and design, you won't have to worry about many of the frequent concerns </p>
<p>when you pruchase an English Awnings Direct retractable awning.</p>
<br>
<br>
                                                                        <!--SENSOR PROBLEM-->
<h2>Sensor problems</h2>
<br>
<h2>Problem:</h2>
<br>
<p>My sensor is broken and my awning won't automatically retract.</p>
<br>
<p>Your awning's sensor is in charge of automatically extending and retracing the awning.</p>
<p>The snsor, like any other electrical component, might fail, preventing the awning from</p>
<p>opening normally.</p>
<br>
<h2>Cause:</h2>
<br>
<p>The sensor may have been destroyed by severe weather, or in the circuitry may have blown out.</p>
<p>During periods of severe rain, if the components or awnings aren't adequately waterproofed, they might be destroyed.</p>
<br>
<h2>Solution:</h2>
<br>
<p>A expert can diagnose the issue with your sensor and determine whether or not it needs to be replaced.</p>
<p>Replacing a sensor is straightforward and does not necessitate tampering with other components.</p>
<p>To eliminate this problem entiely, use an awning with weatherproofed components.</p>
<br>
<br>
<!--MOTOR PROBLEM-->
<h2>Motor problem</h2>
<br>
<h2>Problem:</h2>
<br>
<p>The motor is broken and the awning won't move.</p>
<p>The actual movement of your awning fabric is controlled by the motor.</p>
<p>Your awning will not extend or retract when you push the remote control of the motor is faulty.</p>
<br>
<h2>Cause:</h2>
<br>
<p>The engine may have overheated, or it may have just reached the end of its useful life.</p>
<br>
<h2>Solution:</h2>
<br>
<p>Have the motor inspected by a professional.</p>
<p>They'll be able to tell if the motor needs to be repaired or if it has to be replaced totally.</p>
<br>
<!--AWNING WILL NOT EXTEND-->
<h2>Awning will not extend problem</h2>
<br>
<p>Awnings that are stuck have two basic issues: they either don't extend or don't retract.</p>
<p>You won't be able to receive and shade if your awning doesn't stretch. Isn't it a hassle ?</p>
<p>Check to see whether your awning has been recalled before you start prying around.</p>
<br>
<!-- FIVE ADVICES FOR TROUBLESHOOTING-->
<h2 class="advantages">Check our five advices for troubleshooting:</h2>
<br>
    <p>1.First, look for tripped circuit breakers and blown fuses.</p>
    <p>If you don't hear any motor operation at all, all the awning's fuse might be blown.</p>
    <p>Examine the electrical components in your RV's motor whether the fuse is stable.</p>
    <p>2.In and around your awning's motor, look for any obvious rusted wire.</p>
    <p>If the electrical current that powers your motor isn't transported efficiently, it won't operate.</p>
    <p>Are there any wires that are frayed or corroded ? If this is the case, your awning's problem might be due faulty wiring.</p>
    <p>3.Check to verify whether the awning is loaded incorrectly.</p>
    <p>Awnings that aren't uniformly coiled into their tubes won't be able to fully stretch.</p>
    <p>As a result, the awning becomes stuck.</p>
    <p>4.To operate the awning motor, press the awning motor button.</p>
    <p>Get a buddy to manually roll out the awning from the tube while you hold the extension button if </p>
    <p>your motor is functioning but not retracing. Rain can damage the awning's components,</p>
    <p>making it harder for the motor to operate to its full potential.</p>
    <p>Often, a complete pull is enough to loosen the rust.</p>
    <p>5.If you hear a faint click while the motor is operating, it might be a stripped screw or a motor problem.</p>
    <p>Because it involves changing critical motor parts while a high degree of competence and accuracy,</p>
    <p>this need professional assistance.</p>
<br>
<!--TRACKS-->
<h2>Track problem</h2>
<br>
<h2>Awning will not retract problem</h2>
<h2>Check what to do !</h2>
<br>
<p>1.Examine the awning to verify if it is correctly positioned on the rail.</p>
<p>Awnings, both manual and electric, have trouble retracing if they aren't uniformly spaced on the rail.</p>
<p>Is the fabric stretched evenly and parallel by the awning arms?</p>
<p>If this is not the case, you may need to contact a service company or physically relocate the awning.</p>
<br>
<br>
<p>2.Check the awning cordes for screws. Are you able to adjust the chords of the awning?</p>
<p>If that's the case, it's not a good indicator. This indicates that the screws on your</p>
<p>cords are loose, which may be interfering with your awning.</p>
<br>
<br>
<p>3.Move the arms of the awning. If the arms of your awning aren't moving parallel to one other and smoothly,</p>
<p>it's possible that you require awning arm repair. If they're simpply rusted, some WD-40 will help. </p>
<br>
<br>
<p>4.Take a look at the material. If you left your awning open during a particularly severe downpour,</p>
<p>the water and debris accumulation might have twisted the fabric.</p>
<p>The only way to correct warped fabric is to replace it on your awning.</p>
<br>
<br>
<p>5.Check the fuses, wiring, and circuit breakers on your awning.</p>
<p>Electrical faults can cause an awning to be unable to retract, just as an awning that won't stretch.</p>
<br>
<br>
<p>6.If your motor continues to run but no improvement is apparent, get it checked by a specialist.</p>
<p>It might be a faulty component in your motor, or it could be something completely else. This is, however, quite exceptional.</p>
<br>
<br>
<!--FABRIC PROBLEM-->
<h2>Fabric problem</h2>
<br>
<h2>Problem:</h2>
<br>
<p>The awning fabric is torn or mouldy.</p>
<br>
<h2>Cause:</h2>
<br>
<p>Fabrics that aren't properly weatherproofed might be damaged, spawn mould, or even decompose </p>
<p>after prolonged exposure to the elements.</p>
<br>
<h2>Solution:</h2>
<br>
<p>Awning fabric that has become mouldy or rotted must be replaced.</p>
<p>A expert might be able to repair tiny damages without having to replace the entire fabric.</p>
<p>If you do decide to replace the fabric, make sure it has a waterproog covering.</p>
<p>Also, don't settle for low-quality fabric.</p>
<p>Fabrics of higher quality are more resistant to damage and will save you money in long term.</p>
<p>Please choose your colour of interest and write a query to us so we can send you a free sample</p>
<p>as well as sell fabric only according to your specific measurement.</p>
<br>
<!--DROP ARM AWNINGS-->
<h2>Drop arm awnings problem</h2>
<br>
<p>It's the most common style of retractable window awning </p>
<p>it's perfect for swiftly erecting a cover over a small outdoor areas.</p>
<p>These canopies are ideal for when you need to use outdoor spaces but don't want to be exposed to the weather.</p>
<p>The difficulty with most drop arm awnings is that hinges degrade quickly if not properly maintained.</p>
<p>To guarantee optimal performance when retracing, you should inspect and libricate (oil)</p>
<p>the hinges at least once every few months.</p>
<p>Otherwise, you'll end up with a static considerably more expensive that it has to be.</p>
<br>
<!--AGE-->
<h2>Age problem</h2>
<br>
<p>Our awnings are made of good quality, both manual and retractable, are made to last, but time will wear them down.</p>
<p>While good awning maintenance can keep its appearance and funcionality, age-related difficulties can and will arise.</p>
<br>
<h2>The problem:</h2>
<br>
<p>Age-related problems can't be avoided. Electricity may play a role in some age-related issues.</p>
<p>The issue might be due to awning's construction, implying that the tracks have reached their maximum.</p>
<p>One of the most prevalent age-related difficulties is aesthetic concerns.</p>
<p>An awning with rusted components and fading bafric may be functional, but it will detract from the curb appeal of your property.</p>
<br>
<h2>The solution:</h2>
<br>
<p>Any significant concerns with an awning should be handled by specialists if you're wondering how to reapir an awning.</p>
<p>If your awning's age-related issues are electrical, you'll almost probably need to replace the troublesome pieces.</p>
<p>Repairing the motor or sensors on an olrder awning is likely simply postponing the inevitable.</p>
<p>Those parts will need to be changed at some point, and if you've reached the stage where you'he experiencing rehular problems,</p>
<p>it's time to upgrade.</p>
<p>If your awning's tracks have been rusted and are no longer able to permit smoooth movement, they will need to be changed as well.</p>
<br>
<!--POOLING WATER-->
<h2>Pooling water</h2>
<br>
<h2>Problem:</h2>
<br>
<p>Water is accumulating on the awning's fabric because it isn't draining properly.</p>
<br>
<h2>Cause:</h2>
<br>
<p>The majority of the time, pooor installation and materials are to fault.</p>
<p>The awning will not drain adequately if it is not pitched at the proper angle.</p>
<p>To allow for drainage, the fabric should be water resistant.</p>
<br>
<h2>Solution:</h2>
<br>
<p>Ensure that you awning is installed by professional installers.</p>
<p>Your awning's pitch may need to be re-calibrated, or the fabric may need to be replaced.</p>
<br>
<!--Can awnings be repaired ?-->
<p class="line-break margin-top-10"></p>
<h2>10. Can awnings be repaired ?</h2>
<br>
<p>Even significant damage may be repaired for a fraction of the cost of a new awning.</p>
<p>You won't have to affect the appearance of your home in any way if you repair your awning.</p>
<p>It's far easier to repair and outdated awning than to arrange for a complete replacement.</p>
<p>However we always suggest to speak to our friendly team so you receive the best advice possible.</p>
<br>
<!-- HOW TO DISPOSE OF USED AWNINGS?-->
<br>
<p class="line-break margin-top-10"></p>
<h2>11. How to dispose of used awnings ?</h2>
<p>After the end of product lifetime it must be disassembled and separate material must be segregated</p>
<p>according to Regulation of the Minister of Environment of 27 September 2001 on waste catalogue </p>
<p>– Dz. U. [Journal of Laws] no. 112 item 1206</p>
<br>
<!--IMPORTANT INFORMATION ONCERNING UTILISATION-->
<br>
<p class="line-break margin-top-10"></p>
<h2>12. Important information concerning utilisation:</h2>
<br>
<p>Pursuant to the regulations of the Act dated of 29 July 2005 about waste electrical or</p>
<p>electronic equipment, it is forbidden to place used appliances marked with a crossed</p>
<p>out waste bin symbol jointly with other waste. The User wishing to dispose of </p>
<p>electronic or electrical equipment is obliged to take it to the used equipment</p>
<p>collection spot.</p>
<p>The above legal obligations were introduced in order to reduce the amount of waste</p>
<p>due to used electrical and electronic equipment and to assure a proper level of</p>
<p>collection, recovery and recycling. There are no dangerous elements in the</p>
<p>equipment which are of particularly adverse effect on the environment and human health.</p>
<!-- MY FOOTER-->
<footer class="myfooter">
  <div class="myrowfooter">
    <div class="columnfooter left1">
      <div class="footerheader">
          <h8>English Awnings Direct</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1">www.EnglishAwningsDirect.com</li>
        <li class="listyle1">United Kingdom, Dorset</li>
        <li class="listyle1">Unit 6 West Howe Industrial Estate</li>
        <li class="listyle1">Elliot road</li>
        <li class="listyle1">BH11 8JX</li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left2">
      <div class="footerheader">
          <h8>Awnings</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1"><a href="/casablanca/">Casablanca cassette</a></li>
        <li class="listyle1"><a href="/corsica/">Corsica cassette</a></li>
        <li class="listyle1"><a href="/palladio/">Palladio cassette</a></li>
        <li class="listyle1"><a href="/silverplus/">Silver plus</a></li>
        <li class="listyle1"><a href="/boxitalia/">Italia sun blind</a></li>
        <li class="listyle1"><a href="/bora/">Bora</a></li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left3">
      <div class="footerheader">
          <h8>Features</h8>
      </div>
      <ul class="liststyle">
        <li class="listyle1"><a href="/color-pallet/">Fabric colour pallet</a></li>
        <li class="listyle1"><a href="/about/">Quality</a></li>
        <li class="listyle1"><a href="/about/#demo">Style</a></li>
        <li class="listyle1"><a href="/about/#ease">Ease</a></li>
        <li class="listyle1"><a href="/about/#features">Adjustment</a></li>
        <li class="listyle1"><a href="/about/#howto">About Us</a></li>
      </ul>
    </div>
    <h2 class="verticalline-footer">
      <span></span>
    </h2>
    <div class="columnfooter left4">
      <div class="footerheader">
          <h8>Follow us</h8>
      </div>
          <ul class="liststyle">
            <div class="social-network social-circle">
              <li class="listyle1"><a href="https://www.facebook.com/English-Awnings-Direct-101963445787288" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            </div>
            <br>
            <li class="listyle1"><a href="/cookiepolicy/">Privacy Policy</a></li>
            <li class="listyle1"><a href="/terms&conditions/">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="columnfooter-bottomfooter">
    <div class="col-md-12 copy">
        <p class="text-center-footer">&copy; Copyright 2022 - English Awnings Direct.  All rights reserved.</p>
    </div>
  </div>
</footer>
<!-- FOOTER OVER-->
                <!--FACEBOOK CHAT START-->
                <div id="fb-root"></div>
                <!-- Your Chat plugin code -->
                <div id="fb-customer-chat" class="fb-customerchat">
                </div>
                
                <script>
                  var chatbox = document.getElementById('fb-customer-chat');
                  chatbox.setAttribute("page_id", "101963445787288");
                  chatbox.setAttribute("attribution", "biz_inbox");
                </script>
                
                <!-- Your SDK code -->
                <script>
                  window.fbAsyncInit = function() {
                    FB.init({
                      xfbml            : true,
                      version          : 'v13.0'
                    });
                  };
                
                  (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                </script>

<!--Link to JS CART-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-222500318-1"></script>
<!--BEST SELLERS-->
<script src="/js/bestsells.json"></script>
<!--SCRIPT FOR LETTER SUBSCRIBE -->
<script src="https://kit.fontawesome.com/0e66a92efa.js" crossorigin="anonymous"></script>
<!-- SCRIPT SLIDESHOW INDEX-->
<script src="/js/slideshowindex.js"></script>
<!-- START JS TOP MENU-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="/js/topmenuscript.js"></script>
<!-- OVER JS TOP MENU-->
<script src="/order.js"></script>

<script  src="/js/topmenurespo.js"></script>

</body>
</html>  