
/* Override UGG site */
#main {width: 100%; padding:0;}
.content-asset p {margin:0 auto;}
.breadcrumb {display:none;}
/* Helpers */
/**************************/
/* Typography */
/**************************/
#parallax-world-of-ugg h1 {font-family:'Oswald', sans-serif; font-size:5vw; font-weight:400; text-transform: uppercase; color:black; margin-top:40px; padding:0px; text-align: center;}
#parallax-world-of-ugg h2 {font-family:'Oswald', sans-serif; font-size:4vw; letter-spacing:1.3vw; text-align:center; color:white; font-weight:500; text-transform:uppercase; z-index:10; opacity:5;}
#parallax-world-of-ugg h3 {font-family:'Oswald', sans-serif; font-size:1.7vw; line-height:0; font-weight:400; letter-spacing:8px; text-transform: uppercase; color:black;}
.first-character {font-weight:400; float: left; font-size: 84px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}
.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}
/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {background: white; padding: 60px; margin:3vw auto; text-align:center;}
#parallax-world-of-ugg .title h1 {font-size:2vw; letter-spacing:8px;}
/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {background: white; padding: 60px; width:820px; margin:0 auto; text-align:justify;}
#parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
#parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}
/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://www.selt.com/images/galeria/02_markizy/1_Tarasowe/03_Corsica_wiz2/wizualizacja_corsica_Australian_home.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://www.selt.com/images/galeria/02_markizy/1_Tarasowe/01_Australia/wizualizacja_australia___Australian_apartment.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
#parallax-world-of-ugg .parallax-three {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://02f0a56ef46d93f03c90-22ac5f107621879d5667e0d7ed595bdb.ssl.cf2.rackcdn.com/sites/31045/photos/1299147/omar-sotillo-franco-HkO7lnpJcvA-unsplash_original.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

/* Extras */


/**************************/
#parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}
#parallax-world-of-ugg .line-break2 {border-bottom:1px solid black; width: 500px; margin:0 auto;}






.bestsellershead:after {
    display: block;
    transition: all ease-in-out 0.3s;
    text-align: center;
  }
  
  .bestsellershead:before {
    content: "Best sellers";
    position: absolute;
    text-align: center;
    z-index: -1;
    color: #1a1a1a;
    display: block;
    font-size: 7vw;
    font-weight: 700;
    top: 5vw;
    margin-left: -40%;
    transform: translateY(-50%);
    transition: all ease-in-out 0.3s;
  }
  .e-ways-to-shop {
    width: 100%;
    display: flex;
    background: #0a0a0a;
    padding-bottom: 2vw;
    font-family: "Oswald", sans-serif;
    max-width: 156vw;
    max-height: 120vw;
    height: auto;
    width: auto;
  }
  .e-ways-to-shop__header {
    width: 100%;
    text-align: center;
    transition: all ease-in-out 0.3s;
  }
  .e-ways-to-shop__header:hover > span {
    transform: translate(0, -20%);
    transition: all ease-in-out 0.3s;
  }
  .e-ways-to-shop__header:hover > h2:before {
    color: #181818;
  }
  .e-ways-to-shop__header > span {
    width: 1px;
    height: 80px;
    background: #FFFFFF;
    display: block;
    text-align: center;
    margin: 0 auto 40px;
    transition: all ease-in-out 0.3s;
    position: relative;
    z-index: 10000;
  }
  .e-ways-to-shop__header > h2 {
    color: rgb(245, 205, 30);
    font-size: 5vw;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
  }
  .e-ways-to-shop__header h2:before {
    content: "Best sellers";
    position: absolute;
    z-index: -1;
    color: #1a1a1a;
    display: block;
    font-size: 110px;
    font-weight: 700;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease-in-out 0.3s;
  }
  .e-ways-to-shop__contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
  }

  .e-ways-to-shop__item{
    width: 100%;
    max-width: 50vh;
    height: auto;
    width: auto;
  }

  .e-ways-to-shop__item:hover .e-ways-to-shop__item--image img {
    transform: scale(1.1);
    transition: all ease-in-out 0.35s;
  }
  .e-ways-to-shop__item:hover .e-ways-to-shop__item--name a {
    color: rgb(245, 205, 30);
    text-shadow: 0.5px 0 0 rgb(245, 205, 30);
  }
  .e-ways-to-shop__item:hover .e-ways-to-shop__item--name a:after {
    transition: all ease-in-out 0.3s;
  }
  
  .e-ways-to-shop__item--image {
    display: block;
    margin-bottom: 2vh;
    overflow: hidden;
    backface-visibility: hidden;
    transition: all ease-in-out 0.3s;
  }
  .e-ways-to-shop__item--image img {
    display: block;
    transition: all ease-in-out 0.3s;
  
  }
  .e-ways-to-shop__item--name h3 {
    display: block;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    
  }
  .e-ways-to-shop__item--name h3 a {
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    transition: all ease-in-out 0.3s;
  }
  .e-ways-to-shop__item--name h3 a:after {
    content: "";
    display: block;
    margin-top: 1vh;
    height: 1vh;
    width: 0;
    transition: all ease-in-out 0.3s;
  }
  /* BEST SELLERS OVER */
  
  
  
  
  /* START ADDITIONAL 10 % OFF */
  
    .e-banner__text--headline{
    position: absolute;
    transform: translate(0, -50%);
    color: rgb(245, 205, 30);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 1;
  }

  .e-banner__text--cta {
    position: absolute;
    transform: translate(0, -50%);
    margin-left: 36.5%;
  }

  .e-banner__text--headline > h2 {
    font-size: 4vw;
    text-transform: uppercase;
    text-decoration: underline;
  }


  .e-banner__text--cta a {
    width: 25vw;
    height: 7vw;
    border: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 2vw;
    transition: all ease-in-out 0.3s;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1vw;
    font-weight: 400;
    background:#f1bb45;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  }
  
  .e-banner__text--cta a:hover {
    background: #000000;
    color: #fff200;
    border: 4vw solid var(--text-color);
    transition: 0.3s;
  }
    

/* PARALAX NOT MOVING ON MOBILE DEVICES */

  @media screen and (min-width:150px) and (max-width: 600px){
    #parallax-world-of-ugg .parallax-one{
      background-attachment: inherit;
    }
    #parallax-world-of-ugg .parallax-three{
      background-attachment: inherit;
    }
    #parallax-world-of-ugg .parallax-two{
      background-attachment: inherit;
    }
  }
/* OVER PARALAX NOT MOVING ON MOBILE DEVICES */


  /* RESPONSIVITY SMARTPHONES*/

  /* RESPONSIVITY 320 PX*/
  @media screen and (max-width:320px){
    div.bestsellcontainer{
     width: 20%;
    }

    #parallax-world-of-ugg h3{
      font-size: 2vw;
      letter-spacing: 0.1vw;

    }
    .e-ways-to-shop__item--name h3 a:after{
      font-size: 1vw;
      letter-spacing: 0.1vw;
    }
    #parallax-world-of-ugg .title h1{
      font-size: 4vw;
    }

    .e-ways-to-shop__header > span{
      display: none;
    }
    /* YELLOW DISCOVER BUTTON */
    .e-banner__text--cta a{
      width: 40vh;
      height: 12vh;
      font-size: 6vw;
      margin-left: -30%;
    }

    /* BEST SELLERS */
    #parallax-world-of-ugg h2{
      font-size: 10vw;
      letter-spacing: 0.3vw;
    }

    .bestsellershead{
      display: flex;
      position: relative;
      width: 100%;
      max-width: 15vw;
      height: auto;
      width: auto;
      margin-top: 1vw;
      text-align: center;
      color: rgb(245, 205, 30);
      font-size: 10vw;
      text-transform: uppercase;
      margin-left:  33%;
    }
    .bestsellershead:before {
      color: #1a1a1a;
      font-size: 10vw;
      top: 8vw;
      transform: translateY(-50%);
      transition: all ease-in-out 0.3s;
      margin-left: -12%;
    }

}

  /* RESPONSIVITY 360 X 640 PX*/
  @media screen and (min-width:360px){

    div.bestsellcontainer{
     max-width: 20%;
    }
    #parallax-world-of-ugg h3{
      font-size: 2vw;
      letter-spacing: 0.1vw;
    }
    .e-ways-to-shop__item--name h3 a:after{
      font-size: 1vw;
      letter-spacing: 0.1vw;
    }
    #parallax-world-of-ugg .title h1{
      font-size: 4.5vw;
    }

    .e-ways-to-shop__header > span{
      display: none;
    }
    /* YELLOW DISCOVER BUTTON */
    .e-banner__text--cta a{
      width: 20vh;
      height: 8vh;
      font-size: 3vw;
      margin-left: -15%;
    }

    /* BEST SELLERS */
    #parallax-world-of-ugg h2{
    font-size: 8vw;
    letter-spacing: 1.3vw;

    }

    /* Best sellers */


  .bestsellershead{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 15vw;
    height: auto;
    width: auto;
    margin-top: 1vw;
    text-align: center;
    color: rgb(245, 205, 30);
    font-size: 10vw;
    text-transform: uppercase;
    margin-left:  33%;
  }
  .bestsellershead:before {
    color: #1a1a1a;
    font-size: 10vw;
    top: 8vw;
    transform: translateY(-50%);
    transition: all ease-in-out 0.3s;
    margin-left: -30%;
  }
}

/* RESPONSIVITY 390 X 844 PX*/
@media screen and (min-width:390px){




  div.bestsellcontainer{
    max-width: 20%;
   }
   #parallax-world-of-ugg h3{
     font-size: 2vw;
     letter-spacing: 0.1vw;
   }
   .e-ways-to-shop__item--name h3 a:after{
     font-size: 1vw;
     letter-spacing: 0.1vw;
   }
   #parallax-world-of-ugg .title h1{
     font-size: 4.5vw;
   }

   .e-ways-to-shop__header > span{
     display: none;
   }
   /* YELLOW DISCOVER BUTTON */
   .e-banner__text--cta a{
     width: 20vh;
     height: 5vh;
     font-size: 3vw;
     margin-left: -20%;
   }

   /* BEST SELLERS */
   #parallax-world-of-ugg h2{
   font-size: 8vw;
   letter-spacing: 1.3vw;

   }

   /* Best sellers */


 .bestsellershead{
   display: flex;
   position: relative;
   width: 100%;
   max-width: 15vw;
   height: auto;
   width: auto;
   margin-top: 1vw;
   text-align: center;
   color: rgb(245, 205, 30);
   font-size: 10vw;
   text-transform: uppercase;
   margin-left:  33%;
 }
 .bestsellershead:before {
   color: #1a1a1a;
   font-size: 10vw;
   top: 8vw;
   transform: translateY(-50%);
   transition: all ease-in-out 0.3s;
   margin-left: -30%;
 }
}


/* RESPONSIVITY TABLETS*/

/* RESPONSIVITY 601 */
  @media screen and (min-width:601px){
    div.bestsellcontainer{
      max-width: 20%;
     }
     #parallax-world-of-ugg h3{
       font-size: 2vw;
       letter-spacing: 0.1vw;
     }
     .e-ways-to-shop__item--name h3 a:after{
       font-size: 1vw;
       letter-spacing: 0.1vw;
     }
     #parallax-world-of-ugg .title h1{
       font-size: 4.5vw;
     }
 
     .e-ways-to-shop__header > span{
       display: none;
     }
     /* YELLOW DISCOVER BUTTON */
     .e-banner__text--cta a{
       width: 40h;
       height: 12vh;
       font-size: 3vw;
       margin-left: -2%;
     }
 
     /* BEST SELLERS */
     #parallax-world-of-ugg h2{
     font-size: 8vw;
     letter-spacing: 1.3vw;
 
     }
 
     /* Best sellers */
 
 
   .bestsellershead{
     display: flex;
     position: relative;
     width: 100%;
     max-width: 15vw;
     height: auto;
     width: auto;
     margin-top: 1vw;
     text-align: center;
     color: rgb(245, 205, 30);
     font-size: 10vw;
     text-transform: uppercase;
     margin-left:  34%;
   }
   .bestsellershead:before {
     color: #1a1a1a;
     font-size: 10vw;
     top: 8vw;
     transform: translateY(-50%);
     transition: all ease-in-out 0.3s;
     margin-left: -30%;
   }
   
}

/* RESPONSIVITY 601 */
  @media screen and (min-width:768px){
    div.bestsellcontainer{
      max-width: 20%;
     }
     #parallax-world-of-ugg h3{
       font-size: 2vw;
       letter-spacing: 0.1vw;
     }
     .e-ways-to-shop__item--name h3 a:after{
       font-size: 1vw;
       letter-spacing: 0.1vw;
     }
     #parallax-world-of-ugg .title h1{
       font-size: 4.5vw;
     }
 
     .e-ways-to-shop__header > span{
       display: none;
     }
     /* YELLOW DISCOVER BUTTON */
     .e-banner__text--cta a{
       width: 40vh;
       height: 12vh;
       font-size: 3vw;
       margin-left: 10%;
     }
 
     /* BEST SELLERS */
     #parallax-world-of-ugg h2{
     font-size: 6vw;
     letter-spacing: 1.3vw;
 
     }
 
     /* Best sellers */
 
 
   .bestsellershead{
     display: flex;
     position: relative;
     width: 100%;
     height: auto;
     width: auto;
     margin-top: 1vw;
     text-align: center;
     color: rgb(245, 205, 30);
     font-size: 12vw;
     text-transform: uppercase;
     margin-left:  38%;
   }
   .bestsellershead:before {
     color: #1a1a1a;
     font-size: 8vw;
     top: 8vw;
     transform: translateY(-50%);
     transition: all ease-in-out 0.3s;
     margin-left: -30%;
   }
}

/* RESPONSIVITY 810 */
@media screen and (min-width:810px){
  div.bestsellcontainer{
    max-width: 20%;
   }
   #parallax-world-of-ugg h3{
     font-size: 2vw;
     letter-spacing: 0.1vw;
   }
   .e-ways-to-shop__item--name h3 a:after{
     font-size: 1vw;
     letter-spacing: 0.1vw;
   }
   #parallax-world-of-ugg .title h1{
     font-size: 4.5vw;
   }

   .e-ways-to-shop__header > span{
     display: none;
   }
   /* YELLOW DISCOVER BUTTON */
   .e-banner__text--cta a{
     width: 40vh;
     height: 12vh;
     font-size: 2vw;
     margin-left: 15%;
   }  

   /* BEST SELLERS */
   #parallax-world-of-ugg h2{
   font-size: 6vw;
   letter-spacing: 1.3vw;

   }

   /* Best sellers */


 .bestsellershead{
   display: flex;
   position: relative;
   width: 100%;
   height: auto;
   width: auto;
   margin-top: 1vw;
   text-align: center;
   color: rgb(245, 205, 30);
   font-size: 12vw;
   text-transform: uppercase;
   margin-left:  38%;
 }
 .bestsellershead:before {
   color: #1a1a1a;
   font-size: 8vw;
   top: 8vw;
   transform: translateY(-50%);
   transition: all ease-in-out 0.3s;
   margin-left: -30%;
 }
}

/* RESPONSIVITY 962 */
@media screen and (min-width:962px){
  div.bestsellcontainer{
    max-width: 20%;
   }
   #parallax-world-of-ugg h3{
     font-size: 2vw;
     letter-spacing: 0.1vw;
   }
   .e-ways-to-shop__item--name h3 a:after{
     font-size: 1vw;
     letter-spacing: 0.1vw;
   }
   #parallax-world-of-ugg .title h1{
     font-size: 4.5vw;
   }

   .e-ways-to-shop__header > span{
     display: none;
   }
   /* YELLOW DISCOVER BUTTON */
   .e-banner__text--cta a{
     width: 40vh;
     height: 12vh;
     font-size: 2vw;
     margin-left: 25%;
   }  

   /* BEST SELLERS */
   #parallax-world-of-ugg h2{
   font-size: 6vw;
   letter-spacing: 1.3vw;

   }

   /* Best sellers */


 .bestsellershead{
   display: flex;
   position: relative;
   width: 100%;
   height: auto;
   width: auto;
   margin-top: 1vw;
   text-align: center;
   color: rgb(245, 205, 30);
   font-size: 12vw;
   text-transform: uppercase;
   margin-left:  38%;
 }
 .bestsellershead:before {
   color: #1a1a1a;
   font-size: 8vw;
   top: 8vw;
   transform: translateY(-50%);
   transition: all ease-in-out 0.3s;
   margin-left: -30%;
 }
}

/* RESPONSIVITY 1024 x 600*/
@media screen and (min-width:1024px){
  div.bestsellcontainer{
    max-width: 50vh;
  }
   #parallax-world-of-ugg h3{
     font-size: 2vw;
     letter-spacing: 0.1vw;
   }
   .e-ways-to-shop__item--name h3 a:after{
     font-size: 1vw;
     letter-spacing: 0.1vw;
   }
   #parallax-world-of-ugg .title h1{
     font-size: 1.8vw;
   }

   .e-ways-to-shop__header > span{
     display: none;
   }
   /* YELLOW DISCOVER BUTTON */
   .e-banner__text--cta a{
     width: 45vh;
     font-size: 2vw;
     height: 15vh;
     margin-left: 25%;
   }

   /* BEST SELLERS */
   
   #parallax-world-of-ugg h2{
     font-size: 5vw;
     letter-spacing: 0.5vw;
     text-align: center;
   }
   .bestsellershead{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    width: auto;
    margin-top: 1vw;
    text-align: center;
    color: rgb(245, 205, 30);
    font-size: 12vw;
    text-transform: uppercase;
    margin-left:  42%;
   }
   .bestsellershead:before {
     color: #1a1a1a;
     font-size: 8vw;
     top: 7vw;
     transform: translateY(-50%);
     transition: all ease-in-out 0.3s;
     margin-left: -40%;
   }
}

/* RESPONSIVITY 1080*/
  @media screen and (min-width:1080px){
    div.bestsellcontainer{
      max-width: 50vh;
    }
     #parallax-world-of-ugg h3{
       font-size: 2vw;
       letter-spacing: 0.1vw;
     }
     .e-ways-to-shop__item--name h3 a:after{
       font-size: 1vw;
       letter-spacing: 0.1vw;
     }
     #parallax-world-of-ugg .title h1{
       font-size: 2vw;
     }
 
     .e-ways-to-shop__header > span{
       display: none;
     }
     /* YELLOW DISCOVER BUTTON */
     .e-banner__text--cta a{
      width: 45vh;
      font-size: 2vw;
      height: 15vh;
      margin-left: 25%;
     }
 
     /* BEST SELLERS */
     
     #parallax-world-of-ugg h2{
       font-size: 4vw;
       letter-spacing: 0.5vw;
       text-align: center;
     }
     .bestsellershead:before {
       color: #1a1a1a;
       font-size: 10vw;
       top: 7vw;
       transform: translateY(-50%);
       transition: all ease-in-out 0.3s;
       margin-left: -15vh;
     }
  
  }

/* RESPONSIVITY 1280px 800px */
@media screen and (min-width:1280px){
       /* YELLOW DISCOVER BUTTON */
       div.bestsellcontainer{
        max-width: 20%;
       }
       #parallax-world-of-ugg h3{
         font-size: 2vw;
         letter-spacing: 0.1vw;
       }
       .e-ways-to-shop__item--name h3 a:after{
         font-size: 1vw;
         letter-spacing: 0.1vw;
       }
       #parallax-world-of-ugg .title h1{
         font-size: 2.2vw;
       }
    
       .e-ways-to-shop__header > span{
         display: none;
       }
       /* YELLOW DISCOVER BUTTON */
       .e-banner__text--cta a{
         width: 55vh;
         height: 15vh;
         font-size: 3vw;
         margin-left: -12%;
       }  
    
       /* BEST SELLERS */
       #parallax-world-of-ugg h2{
       font-size: 4vw;
       letter-spacing: 1.2vw;
    
       }
    
       /* Best sellers */
    
    
     .bestsellershead{
       display: flex;
       position: relative;
       width: 100%;
       height: auto;
       width: auto;
       margin-top: 1vw;
       text-align: center;
       color: rgb(245, 205, 30);
       font-size: 12vw;
       text-transform: uppercase;
       margin-left:  40%;
     }
     .bestsellershead:before {
       color: #1a1a1a;
       font-size: 6vw;
       top: 6vw;
       transform: translateY(-50%);
       transition: all ease-in-out 0.3s;
       margin-left: -28%;
     }
}

/* RESPONSIVITY 1366px 768px */
@media screen and (min-width:1366px){
/* YELLOW DISCOVER BUTTON */
div.bestsellcontainer{
  max-width: 20%;
 }
 #parallax-world-of-ugg h3{
   font-size: 2vw;
   letter-spacing: 0.1vw;
 }
 .e-ways-to-shop__item--name h3 a:after{
   font-size: 1vw;
   letter-spacing: 0.1vw;
 }
 #parallax-world-of-ugg .title h1{
   font-size: 2.2vw;
 }

 .e-ways-to-shop__header > span{
   display: none;
 }
 /* YELLOW DISCOVER BUTTON */
 .e-banner__text--cta a{
   width: 55vh;
   height: 15vh;
   font-size: 3vw;
   margin-left: -8%;
 }  

 /* BEST SELLERS */
 #parallax-world-of-ugg h2{
 font-size: 4vw;
 letter-spacing: 1.2vw;

 }

 /* Best sellers */


.bestsellershead{
 display: flex;
 position: relative;
 width: 100%;
 height: auto;
 width: auto;
 margin-top: 1vw;
 text-align: center;
 color: rgb(245, 205, 30);
 font-size: 12vw;
 text-transform: uppercase;
 margin-left:  40%;
}
.bestsellershead:before {
 color: #1a1a1a;
 font-size: 6vw;
 top: 6vw;
 transform: translateY(-50%);
 transition: all ease-in-out 0.3s;
 margin-left: -28%;
  }
}
/* RESPONSIVITY 1440px 900px */
@media screen and (min-width:1440px){
 /* YELLOW DISCOVER BUTTON */
 div.bestsellcontainer{
  max-width: 20%;
 }
 #parallax-world-of-ugg h3{
   font-size: 2vw;
   letter-spacing: 0.1vw;
 }
 .e-ways-to-shop__item--name h3 a:after{
   font-size: 1vw;
   letter-spacing: 0.1vw;
 }
 #parallax-world-of-ugg .title h1{
   font-size: 2.2vw;
 }

 .e-ways-to-shop__header > span{
   display: none;
 }
 /* YELLOW DISCOVER BUTTON */
 .e-banner__text--cta a{
   width: 45vh;
   height: 12vh;
   font-size: 2vw;
   margin-left: 0%;
 }  

 /* BEST SELLERS */
 #parallax-world-of-ugg h2{
 font-size: 4vw;
 letter-spacing: 1.2vw;

 }

 /* Best sellers */


.bestsellershead{
 display: flex;
 position: relative;
 width: 100%;
 height: auto;
 width: auto;
 margin-top: 1vw;
 text-align: center;
 color: rgb(245, 205, 30);
 font-size: 12vw;
 text-transform: uppercase;
 margin-left:  42%;
}
.bestsellershead:before {
 color: #1a1a1a;
 font-size: 6vw;
 top: 6vw;
 transform: translateY(-50%);
 transition: all ease-in-out 0.3s;
 margin-left: -28%;
  }
}

/* RESPONSIVITY 1536px 864px */
@media screen and (min-width:1536px){
  /* YELLOW DISCOVER BUTTON */
div.bestsellcontainer{
  max-width: 20%;
 }
 #parallax-world-of-ugg h3{
   font-size: 2vw;
   letter-spacing: 0.1vw;
 }
 .e-ways-to-shop__item--name h3 a:after{
   font-size: 1vw;
   letter-spacing: 0.1vw;
 }
 #parallax-world-of-ugg .title h1{
   font-size: 2.2vw;
 }

 .e-ways-to-shop__header > span{
   display: none;
 }
 /* YELLOW DISCOVER BUTTON */
 .e-banner__text--cta a{
  width: 45vh;
  font-size: 2vw;
  height: 15vh;
  margin-left: 10%;
 }  

 /* BEST SELLERS */
 #parallax-world-of-ugg h2{
 font-size: 4vw;
 letter-spacing: 1.2vw;

 }

 /* Best sellers */


.bestsellershead{
 display: flex;
 position: relative;
 width: 100%;
 height: auto;
 width: auto;
 margin-top: 1vw;
 text-align: center;
 color: rgb(245, 205, 30);
 font-size: 12vw;
 text-transform: uppercase;
 margin-left:  41%;
}
.bestsellershead:before {
 color: #1a1a1a;
 font-size: 6vw;
 top: 6vw;
 transform: translateY(-50%);
 transition: all ease-in-out 0.3s;
 margin-left: -28%;
  }
}
/* RESPONSIVITY 1600x 900px */
@media screen and (min-width:1600px){
  /* YELLOW DISCOVER BUTTON */
div.bestsellcontainer{
  max-width: 20%;
 }
 #parallax-world-of-ugg h3{
   font-size: 2vw;
   letter-spacing: 0.1vw;
 }
 .e-ways-to-shop__item--name h3 a:after{
   font-size: 1vw;
   letter-spacing: 0.1vw;
 }
 #parallax-world-of-ugg .title h1{
   font-size: 2.2vw;
 }

 .e-ways-to-shop__header > span{
   display: none;
 }
 /* YELLOW DISCOVER BUTTON */
 .e-banner__text--cta a{
   width: 55vh;
   height: 15vh;
   font-size: 3vw;
   margin-left: -4%;
 }  

 /* BEST SELLERS */
 #parallax-world-of-ugg h2{
 font-size: 4vw;
 letter-spacing: 1.2vw;

 }

 /* Best sellers */


.bestsellershead{
 display: flex;
 position: relative;
 width: 100%;
 height: auto;
 width: auto;
 margin-top: 1vw;
 text-align: center;
 color: rgb(245, 205, 30);
 font-size: 12vw;
 text-transform: uppercase;
 margin-left:  41%;
}
.bestsellershead:before {
 color: #1a1a1a;
 font-size: 6vw;
 top: 6vw;
 transform: translateY(-50%);
 transition: all ease-in-out 0.3s;
 margin-left: -28%;
  }
}

/* RESPONSIVITY 1680x 1050px */
@media screen and (min-width:1680px){
 /* YELLOW DISCOVER BUTTON */
 div.bestsellcontainer{
  max-width: 20%;
 }
 #parallax-world-of-ugg h3{
   font-size: 2vw;
   letter-spacing: 0.1vw;
 }
 .e-ways-to-shop__item--name h3 a:after{
   font-size: 1vw;
   letter-spacing: 0.1vw;
 }
 #parallax-world-of-ugg .title h1{
   font-size: 2.2vw;
 }

 .e-ways-to-shop__header > span{
   display: none;
 }
 /* YELLOW DISCOVER BUTTON */
 .e-banner__text--cta a{
  width: 45vh;
  font-size: 2vw;
  height: 15vh;
  margin-left: 12%;
 }  

 /* BEST SELLERS */
 #parallax-world-of-ugg h2{
 font-size: 4vw;
 letter-spacing: 1.2vw;

 }

 /* Best sellers */


.bestsellershead{
 display: flex;
 position: relative;
 width: 100%;
 height: auto;
 width: auto;
 margin-top: 1vw;
 text-align: center;
 color: rgb(245, 205, 30);
 font-size: 12vw;
 text-transform: uppercase;
 margin-left:  41%;
}
.bestsellershead:before {
 color: #1a1a1a;
 font-size: 6vw;
 top: 6vw;
 transform: translateY(-50%);
 transition: all ease-in-out 0.3s;
 margin-left: -28%;
  }
}


  /* RESPONSIVITY 1920px */
@media screen and (min-width:1920px){
    #parallax-world-of-ugg{
      width: 204.8vh;
    }

       /* YELLOW DISCOVER BUTTON */
       div.bestsellcontainer{
        max-width: 20%;
       }
       #parallax-world-of-ugg h3{
         font-size: 2vw;
         letter-spacing: 0.1vw;
       }
       .e-ways-to-shop__item--name h3 a:after{
         font-size: 1vw;
         letter-spacing: 0.1vw;
       }
       #parallax-world-of-ugg .title h1{
         font-size: 2.2vw;
       }
    
       .e-ways-to-shop__header > span{
         display: none;
       }
       /* YELLOW DISCOVER BUTTON */
       .e-banner__text--cta a{
        width: 45vh;
        font-size: 2vw;
        height: 15vh;
        margin-left: 10%;
       }  
    
       /* BEST SELLERS */
       #parallax-world-of-ugg h2{
       font-size: 4vw;
       letter-spacing: 1.2vw;
    
       }
    
       /* Best sellers */
    
    
     .bestsellershead{
       display: flex;
       position: relative;
       width: 100%;
       height: auto;
       width: auto;
       margin-top: 1vw;
       text-align: center;
       color: rgb(245, 205, 30);
       font-size: 12vw;
       text-transform: uppercase;
       margin-left:  40%;
     }
     .bestsellershead:before {
       color: #1a1a1a;
       font-size: 6vw;
       top: 6vw;
       transform: translateY(-50%);
       transition: all ease-in-out 0.3s;
       margin-left: -28%;
     }
    .columnfooter-bottomfooter{
      width: 204.8vh;
    }
  }
