




.section-services {
	padding-top: 110px;
	padding-bottom: 120px;
	font-family: "Poppins", sans-serif;
	background-color: #bab8bd;
	color: #fff;
	margin-right: 0.8%;
	margin-left: 0.8%;
}

.section-services .header-sectionexclusive {
	margin-bottom: 35px;
}

.section-services .header-sectionexclusive .titleexclusiveservices {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 25px;
	text-transform: uppercase;
	font-weight: 700;
}

.section-services .header-sectionexclusive .titleexclusiveservices:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	height: 1px;
	background-color: #f70037;
}

.section-services .header-sectionexclusive .titleexclusiveservices:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
	width: 45px;
	height: 3px;
	background-color: #f70037;
}

.section-services .header-sectionexclusive .titleexclusiveservices span {
	color: #f70037;
}

.section-services .header-sectionexclusive .descriptionexclusive {
	color: #6f6f71;
}

.section-services .single-service {
	margin-top: 40px;
	margin: 2%;
	background-color: #24252a;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.section-services .single-service .part-1 {
	padding: 40px 40px 25px;
	border-bottom: 2px solid #1d1e23;
}

.section-services .single-service .part-1 i {
	margin-bottom: 25px;
	font-size: 50px;
	color: #f70037;
}

.section-services .single-service .part-1 .titleexclusiveservices {
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.8em;
}

.section-services .single-service .part-2 {
	padding: 30px 40px 40px;
}

.section-services .single-service .part-2 .descriptionexclusive {
	margin-bottom: 22px;
	color: #b0b0b3;
	font-size: 17px;
	line-height: 1.8em;
}

.section-services .single-service .part-2 a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.section-services .single-service .part-2 a i {
	margin-right: 10px;
	color: #f70037;
}